<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <ul>
                        <li><a class="Heading" routerLink="/Employee/AttendanceDetailsDash">
                                <p class="Heading"> My Attendance Details</p>
                            </a>
                        </li>

                        <li *ngIf="roleid==2"><a class="tabHeading">
                                <p class="tabHeading"> Team Attendance Details</p>
                            </a>
                            <hr class="tab-line-border listForm">
                        </li>

                        <li *ngIf="roleid==1||roleid==9||roleid==11||roleid==10"><a class="tabHeading">
                                <p class="tabHeading">Company Attendance Details</p>
                            </a>
                            <hr  class="tab-line-border">
                        </li>
                    </ul>
                </div>
            </div>

            <div class="card">
                <div class="d-flex flex-wrap">
                    <div class="d-flex justify-content-end filterby" style="margin-top: 3%;">
                        <img src="assets/Images/revamp/filter.svg" class="filter-img">
                        <p class="filter">Filter by:</p>
                    </div>

                    <div class="d-flex justify-content-start flex-wrap inputs">
                        <div class="cardinputs">
                            <input type="text" placeholder="Search" id="search" [(ngModel)]="search"
                                class="form-control search-icon">
                        </div>

                        <div class="cardinputs">
                            <p class="leavereq">Select Dates
                                <input type="bsdate" placeholder="mm/dd/yyyy-mm/dd/yyyy" class="form-control"
                                    bsDaterangepicker [(ngModel)]="startdate1" (ngModelChange)="getenddate($event)"
                                    [bsConfig]="{ showWeekNumbers:false }">
                            </p>
                        </div>

                        <div class="cardinputs">
                            <ng-multiselect-dropdown [placeholder]="'Select Position'" [settings]="roledropdownSettings"
                                [data]="dropdownRoleList" [(ngModel)]="roleselectedItems"
                                (onSelect)="roleonItemSelect($event)" (onDeSelect)="onItemDeSelect($event)">
                            </ng-multiselect-dropdown>
                        </div>

                        <div class="cardinputs">
                            <ng-multiselect-dropdown [placeholder]="'Select Staff'" [settings]="dropdownSettings"
                                [data]="dropdownList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
                                (onDeSelect)="onItemDeSelect($event)">
                            </ng-multiselect-dropdown>
                        </div>

                        <div class="cardinputs">
                            <button class="butn-sadow" type="button" (click)="reset()">Reset</button>
                        </div>

                        <div class="cardinputs">
                            <button class="butn-sadow" type="button" (click)="exportexcel1()">Export to Excel</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-10"></div>
            </div>

            <div class="row">
                <div class="col-10">
                    <p class="show3res mt-1">SHOWING <span>{{(attendancelist
                            |filter:search)?.length}}</span> RESULT(S)
                    </p>
                </div>
            </div>

            <div class="row ">
                <div class="col-12">
                    <div class="listscroll">
                        <table class="table" id="lvs"
                            *ngIf="(attendancelist |paginate: { itemsPerPage: count1, currentPage: p})">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Staff ID</th>
                                    <th>Staff Name</th>
                                    <th>Position</th>
                                    <th>Department</th>
                                    <th>Expected In Time</th>
                                    <th>Punch In Time</th>
                                    <th>Expected Out Time</th>
                                    <th>Punch Out Time</th>
                                    <th>Work Hours(HH:MM) </th>
                                    <th>UnderTime </th>
                                    <th>Late </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let attendance of attendancelist | paginate: { itemsPerPage: count1, currentPage: p }|filter:search">
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.signinDate|date}}
                                    </td>
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.employeID}}
                                    </td>
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.name1}}
                                    </td>

                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.role}}
                                    </td>
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.department_name}}
                                    </td>
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.expectedIn}}
                                    </td>
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.stime}}</td>
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.expectedOut}}
                                    </td>
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.etime}}</td>
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.hr1}}</td>
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.undertime}}
                                    </td>
                                    <td
                                        [ngClass]="{'bgred':attendance.undertime=='Yes'||attendance.latepunchin=='Yes'  }">
                                        {{attendance.latepunchin}}</td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="NoResultShow" *ngIf="(attendancelist|filter:search)?.length==0"><b>Sorry, we
                                couldn't find any
                                results.</b></span><br>
                    </div>

                    <div class="text-right" *ngIf="(attendancelist|filter:search).length>count1">
                        <br>
                        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                            class="poppinns"></pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="loader-class ">
                    <span class="header-loading-attend" id="exampleModalLongTitle">Please wait while
                        downloading...</span>
                    <div id="pause" class="d-flex align-items-center justify-content-center">
                        <div id="spinner"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>