<div class="container-fluid">
    <!-- <p class="mt-2 heading">HR Dashboard</p> -->
    <div class="row">
        <div class="col-4 common-col ">
            <div class="card small-card d-flex flex-column align-items-center ">
                <p class="card-head">Total Headcount</p>
                <p class="mb-0 sm-head">1200</p>
                
            </div>
            <div class="card">
                <p class="card-head">Headcount By Gender</p>
                <div id="chart1">
                </div>
            </div>
        </div>
        <div class="col-4 common-col">
            <div class="card small-card d-flex flex-column align-items-center">
                <p class="card-head">New Hires</p>
                <p class="mb-0 sm-head">600</p>
                
            </div>
            <div class="card small-card d-flex flex-column align-items-center">
                <p class="card-head">Total Attritions</p>
                <p class="mb-0 sm-head">600</p>
                
            </div>
            <div class="card small-card d-flex flex-column align-items-center">
                <p class="card-head">Total Leaves Taken</p>
                <p class="mb-0 sm-head">120</p>
               
            </div>
        </div>
        <div class="col-4 common-col">
            <div class="card">
                <p class="card-head">Headcount By Employment Type</p>
                <div id="chart2">
                </div>
            </div>

            <div class="card small-card d-flex flex-column align-items-center">
                <p class="card-head">Total Overtime Hours</p>
                <p class="mb-0 sm-head">234</p>
               
            </div>
        </div>
    </div>
    <p class="view-textannoubce" (click)="ViewAttedancegraphdashboard()">View All</p>
</div>