<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<br>
<div class="container-fluid card">
    <div class="row mt-2">
        <div class="col-12">
            <p class="graph-label-head">My Team - Leaves And Attendance
            </p>
        </div>
    </div>
    <br>
    <!-- <select class="form-control inputfield select selectmonth" (change)="GetmonthID($event)" id="MonthID"
        name="MonthID">
        <option value="0">Select Month </option>
        <option value="1">January </option>
        <option value="2">February </option>
        <option value="3">March </option>
        <option value="4">April </option>
        <option value="5">May </option>
        <option value="6">June </option>
        <option value="7">July </option>
        <option value="8">August </option>
        <option value="9">September </option>
        <option value="10">October </option>
        <option value="11" selected>November </option>
        <option value="12">December </option>

    </select> -->
    <br>
    <div class="row firstrow">
        <div class="col-8 p-0">
            <div class="hrgrapghdashcontent">
                <div class="grapghdashinputs">
                    <div class="grapghdashcard p-5">
                        <p class="mt-2 card-head">Emp With complete Attendance</p>
                        <h3 class="mt-2 sm-head">11</h3>
                    </div>

                </div>

                <div class="grapghdashinputs">
                    <div class="grapghdashcard p-5 ">
                        <p class="mt-2 card-head">Punctuality </p>
                        <h3 class="mt-2 sm-head">46</h3>
                    </div>
                </div>
            </div>

            <div class="hrgrapghdashcontent mt-2">
                <div class="grapghdashinputs">
                    <div class="grapghdashcard p-5">
                        <p class="mt-2 card-head">Total Overtime hours</p>
                        <h3 class="mt-2 sm-head">38</h3>
                    </div>

                </div>

                <div class="grapghdashinputs">
                    <div class="grapghdashcard p-5 ">
                        <p class="mt-2 card-head">Total Undertime Hours</p>
                        <h3 class="mt-2 sm-head">26</h3>
                    </div>
                </div>
            </div>

            <div class="hrgrapghdashcontent ">
                <div class="grapghdashinputs">
                    <div class="grapghdashcard p-5">
                        <p class="mt-2 card-head">Total Leaves Taken</p>
                        <h3 class="mt-2 sm-head">13</h3>
                    </div>
                </div>

                <div class="grapghdashinputs">
                    <div class="grapghdashcard p-5 ">
                        <p class="mt-2 card-head">Total Leaves Balance</p>
                        <h3 class="mt-2 sm-head">26</h3>
                    </div>
                </div>
            </div>

            <div class="hrgrapghdashcontent mt-2">
                <div class="grapghdashinputs">
                    <div class="grapghdashcard p-5">
                        <p class="mt-2 card-head">Rejected leaves </p>
                        <h3 class="mt-2 sm-head">0</h3>
                    </div>
                </div>

                <div class="grapghdashinputs">
                    <div class="pendingapproval-card p-5 ">
                        <p class="mt-2 card-head">Pending Approval</p>
                        <h3 class="mt-2 sm-head ">8</h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-4 p-0">
            <div class="hrgrapghdashcard1">
                <div class="">
                    <div class="">
                        <p class="card-head">Leaves Taken by Type (YTD)</p>
                        <div id="chart2">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>