<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div>
            <div class="attendance">
                <div class="sub-atd">
                    <img src="assets/Images/editicon.png" class="atd-img" />
                    <label class="atd-text">Attendance Tracker</label>
                    <label class="atd-sub">Always Register Your Attendance</label>
                </div>
                <div>
                    <div>
                        <div *ngIf="punchintime!=null">
                            <button class="sub-atdc"><img class="pnchin" src="assets/Images/pnchin-green.svg">&nbsp;
                                PUNCHED
                                IN</button>
                            <span class="pnc-time">{{punchintime|date:'HH:mm'}}</span>
                        </div>
                        <!-- <span class="pnin-time">You have not punched-in yet</span> -->
                        <div *ngIf="punchintime==null">
                            <button class="pun-in" (click)="punchin()">&nbsp; PUNCH IN</button>
                            <!--   <span class="pnin-time">Punch in time: 09:05AM</span> -->
                            <span class="pncn-time">You have not punched-in yet</span>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="punchouttime!=null">
                            <button class="punco-sub"><img class="pnchin" src="assets/Images/pnchin-green.svg">&nbsp;
                                PUNCHED
                                OUT</button>

                            <!--   <span class="pnin-time">Punch in time: 09:05AM</span> -->
                            <span class="pncn-out"> {{punchouttime|date:'HH:mm'}}</span>
                        </div>
                        <div *ngIf="punchouttime==null">
                            <button class="pnc-out" (click)="punchout()">&nbsp; PUNCH OUT</button>
                            <span class="pncut-time">You have not punched-out yet</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="celebrs">
                <div class="sub-lve">
                    <img src="assets/Images/wish-new.svg" class="lev-img">
                    <label class="atd-text">Celebrants</label>
                    <label class="atd-sub">Get to know who are the celebrants</label>
                </div>
                <div class="row">
                    <div class="col-lg-12 btnpnch">
                        <button class="anniversary" [ngClass]="Anniversery?'acct2':'bluebtn28'"
                            (click)="changeAnniversary()">Anniversary
                        </button>

                        <button class="birthday" [ngClass]="Birthday?'acct':'bluebtn282'"
                            (click)="changebirthday()">Birthday
                        </button>

                        <button (click)="changenewjoinee()" [ngClass]="NewJoinee?'acct1':'bluebtn281'"
                            class="newjoinee">Joinee
                        </button>
                    </div>
                    <div class="row" *ngIf="NewJoinee==true">
                        <br />
                        <div class="norecmsg" *ngIf="Anniverserylist?.length==0 && Anniverserylist2?.length==0"><br>
                            <img class="normsg-newimg" src="assets/Images/norecord.png">
                            <label class="norecord"> No Records Found </label>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <table class="wishtbl" *ngIf="Anniverserylist2?.length!=0">
                                    <thead class="thead">
                                        <tr>
                                            <th><label class="din-regular23 centeralign">Name</label>
                                            </th>
                                            <th><label class="din-regular23 centeralign">Phone
                                                    Number</label></th>
                                            <th><label class="din-regular23 centeralign">Email</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td><label class="din-regular23 centeralign">
                                                {{name}} {{middle_Name}}</label></td>
                                        <td><label class="din-regular23 centeralign">{{mobile}}</label>
                                        </td>
                                        <td><label class="din-regular23 centeralign">{{emailID}}</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <a class="fullbtnNewJoinee" data-toggle="modal" data-target="#exampleModal2">View
                                    More</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="Birthday==true">
                        <br /><br>
                        <div class="norecmsg" *ngIf="Anniverserylist?.length==0 && Anniverserylist1?.length==0">
                            <img class="normsg-img" src="assets/Images/norecord.png">
                            <label class="norecord">No Records Found </label>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <table class="wishtbl" *ngIf="Anniverserylist1?.length!=0">
                                    <thead class="thead">
                                        <tr>
                                            <th><label class="din-regular23 centeralign">Name</label>
                                            </th>
                                            <th><label class="din-regular23 centeralign">Phone
                                                    Number</label></th>
                                            <th><label class="din-regular23 centeralign">Email</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td><label class="din-regular23 centeralign">
                                                {{name}} {{middle_Name}}</label></td>
                                        <td><label class="din-regular23 centeralign">{{mobile}}</label>
                                        </td>
                                        <td><label class="din-regular23 centeralign">{{emailID}}</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <a class="fullbtnBirthdy" data-toggle="modal" data-target="#exampleModal">View More</a>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="Anniversery==true">
                        <br /><br>
                        <div class="norecmsg" *ngIf="Anniverserylist?.length==0">
                            <img class="normsg-img" src="assets/Images/norecord.png">
                            <label class="norecord"> No Records Found </label>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <table class="wishtbl" *ngIf="Anniverserylist?.length!=0">
                                    <thead class="thead">
                                        <tr>
                                            <th><label class="din-regular23 centeralign">Name</label>
                                            </th>
                                            <th><label class="din-regular23 centeralign">Phone
                                                    Number</label></th>
                                            <th><label class="din-regular23 centeralign">Email</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td><label class="din-regular23 centeralign">
                                                {{name}} {{middle_Name}}</label></td>
                                        <td><label class="din-regular23 centeralign">{{mobile}}</label>
                                        </td>
                                        <td><label class="din-regular23 centeralign">{{emailID}}</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div>
                                <a class="fullbtnAnniversy" data-toggle="modal" data-target="#exampleModal1">View
                                    More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile">
                <div><img class="pfl-img" src="assets/Images/profileimg.png"></div>
                <!--   <div> <label class="title">{{ username}} </label></div> -->
                <h3>{{ username}} </h3>
                <div><label class="email">{{ email}} </label></div>
                <div>
                    <!-- <mwl-gauge class="guagerow" [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001"
                        [value]="profilepercentage" [animated]="true" [animationDuration]="1">
                    </mwl-gauge> -->
                </div>
                <div>
                    <button type="button" class="butn-sadow" (click)="Profilecompletion()">VIEW MY PROFILE</button>
                </div>
            </div>
            <div class="annoc">
                <div><span class="ann-text">Announcement</span>
                    <!--  <div class="band-2">
                        <div><button class="joinbtn">Join Now</button></div>
                        <div> <img src="assets/Images/Bannermain.png"></div>
                    </div> -->
                    <div class="row ann-div" *ngIf="newannnounecemnetlist?.length==0">
                        <img src="assets/Images/noAnnoun.svg">
                        <h4 class="noannouncementrslt">No Announcements Today !</h4>
                    </div>
                    <div class="announcementlstimg">
                        <div class="announ">
                            <div class="row ancs" *ngFor="let obj of newannnounecemnetlist">
                                <div class="col-lg-4">
                                    <img src="{{obj.attachment}}" class="holidayannouncement imgurl"
                                        (click)="getannouncementurl(obj.attachment)" alt="announcement.img"
                                        data-toggle="modal" data-target="#Allocate">
                                </div>
                                <div class="col-lg-8">
                                    <div class="name1"> {{obj.name}}</div>
                                </div>
                                <hr class="new4">
                            </div>
                        </div>
                    </div>
                    <div>
                        <a class="seeall chnageseeAll" routerLink="/Admin/AnnouncementDashboard" style="left:74%">See
                            All<img src="assets/64 Blue/donw-arrow.svg" class="plus-icon"></a>
                    </div>
                </div>

            </div>
            <div class="levc">
                <div class="lea-sub">
                    <img src="assets/Images/leaveicon.png" class="lev-img">
                    <label class="atd-text">Leaves</label>
                    <label class="atd-sub">Always file your leaves on time</label>
                </div>
                <div>
                    <div>
                        <button class="pendingcount">
                            <p>{{pendingcount1}} <span>Pending</span> </p>
                        </button>
                        <button class="cnelcount">
                            <p>{{CancelledCount1}} <span>Cancelled</span> </p>
                        </button>
                    </div>
                    <div class="">
                        <button class="rejectedcount">
                            <p>{{Rejectedcount1}} <span>Rejected</span> </p>
                        </button>
                        <button class="approdcount">
                            <p>{{approvedcount1}} <span>Approved</span> </p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="holiday">
                <div class="holidayimg">
                    <img src="assets/Images/hld-new.svg" class="holidayimgwidth">
                    <p class="holidayimgtxt">Holidays</p>
                    <p class="cm-holi">These are the upcoming holidays</p>
                </div>
                <div class="row">
                    <div>
                        <img class="tphoimg" src="{{tpholidayattachment}}">
                        <p class="holidayname">{{topholidayname}} </p>
                        <p class="holidaydate">{{topholidaydate|date}}</p>
                    </div>
                    <div class="row hol-others">
                        <h5 class="others">Others</h5>
                        <div>
                            <div class="row holidayrowlist" *ngFor="let holiday of dispyList">
                                <div class="col-lg-3">
                                    <img src="{{holiday.attachment}}" class="holidaylistattachment">
                                </div>
                                <div class="col-lg-9 holidaylistcol">
                                    <p class="name1 align1"> {{holiday.holiday}}<span class="name2 align1">
                                            {{holiday.holidayDate|date}}</span></p>
                                    <!--     <p class="name2 align1"> {{holiday.holidayDate|date}}</p> -->
                                </div>

                            </div>
                            <div>
                                <a class="seeall" routerLink="/Admin/HolidayDashboard">See All<img
                                        src="assets/64 Blue/donw-arrow.svg" class="plus-icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="vcinc">
                <div class="sub-vac">
                    <img src="assets/Images/covid-vaccin.svg" class="lev-img">
                    <label class="atd-text">Covid Vaccination</label>
                    <label class="atd-sub">Upload vaccination details</label>
                </div>
                <div>
                    <div class="vanc">
                        <span class="dose-text" style="top: -18px;">1st Dose</span>
                        <span class="doseinfo"
                            *ngIf="certificate_url=='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'">No
                            Records Found</span>
                        <span class="doseinfo"
                            *ngIf="certificate_url!='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'">{{FirstDoseDate|date}}</span>
                        <button
                            *ngIf="certificate_url=='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'"
                            class="whitebtn3" [routerLink]="['/Employee/VaccineForm',staffID]">Upload</button>
                        <a data-toggle="modal" data-target="#VaccinationModal"><img src="assets/Images/editicon.png"
                                class="requestbtn4 applyleavecol"></a>
                        <!-- <button> -->
                        <a href="{{certificate_url}}" target="blank"><button
                                class="form-control requestbtn applyleavecol"
                                *ngIf="certificate_url!='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'"><img
                                    class="req-white" src="assets/Images/white-radio.svg">View
                                File</button></a>
                        <!-- </button> -->
                    </div>
                    <div class="row vanc2">
                        <span class="dose-text">2nd Dose</span>
                        <span class="doseinfo"
                            *ngIf="Certificate_url_second=='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'">No
                            Records Found</span>
                        <span class="doseinfo"
                            *ngIf="Certificate_url_second!='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'">{{SecondDoseDate|date}}</span>
                        <button
                            *ngIf="Certificate_url_second=='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'"
                            class="whitebtn3" [routerLink]="['/Employee/VaccineForm',staffID]">Upload</button>
                        <a data-toggle="modal" data-target="#VaccinationModal1"><img src="assets/Images/editicon.png"
                                class="requestbtn5 applyleavecol"></a>
                        <a href="{{Certificate_url_second}}" target="blank"><button
                                class="form-control requestbtn1 applyleavecol"
                                *ngIf="Certificate_url_second!='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'"><img
                                    class="req-white" src="assets/Images/white-radio.svg">View
                                File</button></a>
                    </div>
                    <div class="row vancbs">
                        <span class="dose-text" style="top: -23px;">Booster</span>
                        <span class="doseinfo"
                            *ngIf="BoosterDoseCertificate=='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'">No
                            Records Found</span>
                        <span class="doseinfo"
                            *ngIf="BoosterDoseCertificate!='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'">{{BoosterDoseDate|date}}</span>
                        <button
                            *ngIf="BoosterDoseCertificate=='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'"
                            class="whitebtn3" [routerLink]="['/Employee/VaccineForm',staffID]">Upload</button>
                        <a data-toggle="modal" data-target="#VaccinationModal2"><img src="assets/Images/editicon.png"
                                class="requestbtn6 applyleavecol"></a>
                        <a href="{{BoosterDoseCertificate}}" target="blank"><button
                                class="form-control requestbtn2 applyleavecol"
                                *ngIf="BoosterDoseCertificate!='https://asticom.digiofficeapp.com/Amazepayrollapi/Images/EmptyProfile/noimage.png'"><img
                                    class="req-white" src="assets/Images/white-radio.svg">View
                                File</button></a>
                    </div>
                </div>
            </div>
            <div>
                <div>
                    <h1 class="tem-req">My Team Request</h1>
                </div>
                <div class="my-levc">
                    <div class="my-lea-sub">
                        <img src="assets/Images/leaveicon.png" class="lev-img">
                        <label class="atd-text">Leaves</label>
                        <label class="atd-sub">Always Approve your Team leaves</label>
                    </div>
                    <div>
                        <div>
                            <button class="pendingcount">
                                <p>{{Pendingcountforsupervisor}} <span>Pending</span> </p>
                            </button>
                            <button class="cnelcount">
                                <p>{{CancelledCount}} <span>Cancelled</span> </p>
                            </button>
                        </div>
                        <div class="">
                            <button class="rejectedcount">
                                <p>{{rejectedcountforsupervisor}} <span>Rejected</span> </p>
                            </button>
                            <button class="approdcount">
                                <p>{{approvedcountforsupervisor}} <span>Approved</span> </p>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="overtime">
                    <div class="overtime-sub">
                        <img src="assets/Images/leaveicon.png" class="lev-img">
                        <label class="atd-text">Overtime</label>
                        <label class="atd-sub">Always file your Overtime on time</label>
                    </div>
                    <div>
                        <div>
                            <button class="pendingcount">
                                <p>{{pendingotcount1}} <span>Pending</span> </p>
                            </button>
                            <button class="cnelcount">
                                <p>{{cancelledotcount}} <span>Cancelled</span> </p>
                            </button>
                        </div>
                        <div class="">
                            <button class="rejectedcount">
                                <p>{{Rejectedotcount1}} <span>Rejected</span> </p>
                            </button>
                            <button class="approdcount">
                                <p>{{approvedotcount1}} <span>Approved</span> </p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="br-spac">
                </div>
            </div>
        </div>
        <!--   <div class="col-lg-3">
            <div class="dashcard">
                <div class="innercard2">
                    <div class="attendancecard">
                        <img src="assets/Images/leaveicon.png" class="imgattendance" />
                        <label class="mainlabel labelattendance">Leaves</label>
                    </div>
                    <label class="mainlabel1">Always file your leaves on time</label>
                </div>
                <br />
                <div class="btnpnch">
                    <button class="whitebtn1">
                        <p class="numbercount">{{pendingcount1}} </p>
                        <span class="countext">Pending</span>
                    </button>
                    <button class="whitebtn1">
                        <p class="numbercount">{{Rejectedcount1}} </p> <span class="countext">Rejected</span>
                    </button>
                </div>
                <div class="btnpnch">
                    <button class="whitebtn1">
                        <p class="numbercount">{{CancelledCount}} </p> <span class="countext">Cancelled</span>
                    </button>
                    <button class="whitebtn1">
                        <p class="numbercount">{{approvedcount1}}
                        </p> <span class="countext">Approved</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="dashcard11">
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-1">
                        <br />
                        <img src="assets/Images/wish.png">
                    </div>
                    <div class="col-lg-9">
                        <br />
                        <p class="holiday">Wish</p>
                        <p class="text4">Stay informed with the wishlist.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 btnpnch">
                        <button class="anniversary" [ngClass]="Anniversery?'acct2':'bluebtn28'"
                            (click)="changeAnniversary()">Anniversary
                        </button>

                        <button class="birthday" [ngClass]="Birthday?'acct':'bluebtn282'"
                            (click)="changebirthday()">Birthday
                        </button>

                        <button (click)="changenewjoinee()" [ngClass]="NewJoinee?'acct1':'bluebtn281'"
                            class="newjoinee">Joinee
                        </button>
                    </div>
                    <div class="row" *ngIf="NewJoinee==true">
                        <br />
                        <div class="norecmsg" *ngIf="noAnniversery && noNewJoinee"><br>
                            <img src="assets/Images/norecord.png">
                            <label class="norecord"> No Records Found </label>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <table class="wishtbl" *ngIf="noNewJoinee1">
                                    <thead class="thead">
                                        <tr>
                                            <th><label class="din-regular23 centeralign">Name</label>
                                            </th>
                                            <th><label class="din-regular23 centeralign">Phone
                                                    Number</label></th>
                                            <th><label class="din-regular23 centeralign">Email</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td><label class="din-regular23 centeralign">
                                                {{name}} {{middle_Name}}</label></td>
                                        <td><label class="din-regular23 centeralign">{{mobile}}</label>
                                        </td>
                                        <td><label class="din-regular23 centeralign">{{emailID}}</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-1">
                                <button class="form-control fullbtnNewJoinee" data-toggle="modal"
                                    data-target="#exampleModal2">View More</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="Birthday==true">
                        <br /><br>
                        <div class="norecmsg" *ngIf="noAnniversery && noBirthday">
                            <img src="assets/Images/norecord.png">
                            <label class="norecord">No Records Found </label>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <table class="wishtbl" *ngIf="noBirthday1">
                                    <thead class="thead">
                                        <tr>
                                            <th><label class="din-regular23 centeralign">Name</label>
                                            </th>
                                            <th><label class="din-regular23 centeralign">Phone
                                                    Number</label></th>
                                            <th><label class="din-regular23 centeralign">Email</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td><label class="din-regular23 centeralign">
                                                {{name}} {{middle_Name}}</label></td>
                                        <td><label class="din-regular23 centeralign">{{mobile}}</label>
                                        </td>
                                        <td><label class="din-regular23 centeralign">{{emailID}}</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-1">
                                <button class="form-control fullbtnBirthdy" data-toggle="modal"
                                    data-target="#exampleModal">View More</button>
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="Anniversery==true">
                        <br /><br>
                        <div class="norecmsg" *ngIf="noAnniversery">
                            <img src="assets/Images/norecord.png">
                            <label class="norecord"> No Records Found </label>
                        </div>
                        <div class="row">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-10">
                                <table class="wishtbl" *ngIf="noAnniversery1">
                                    <thead class="thead">
                                        <tr>
                                            <th><label class="din-regular23 centeralign">Name</label>
                                            </th>
                                            <th><label class="din-regular23 centeralign">Phone
                                                    Number</label></th>
                                            <th><label class="din-regular23 centeralign">Email</label>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td><label class="din-regular23 centeralign">
                                                {{name}} {{middle_Name}}</label></td>
                                        <td><label class="din-regular23 centeralign">{{mobile}}</label>
                                        </td>
                                        <td><label class="din-regular23 centeralign">{{emailID}}</label>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-lg-1">
                                <button class="form-control fullbtnAnniversy" data-toggle="modal"
                                    data-target="#exampleModal1">View More</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="dashcard2">
                <br />
                <br />
                <br />
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-8">
                        <img src="assets/Images/profileimg.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <br />
                        <label class="title">{{ username}} </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2">
                    </div>
                    <div class="col-lg-8">
                        <label class="email">{{ email}} </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                    </div>
                    <div class="col-lg-8">
                        <br />
                        <br />
                        <mwl-gauge class="guagerow" [max]="100" [dialStartAngle]="-90" [dialEndAngle]="-90.001"
                            [value]="profilepercentage" [animated]="true" [animationDuration]="1">
                        </mwl-gauge>
                    </div>
                </div>
                <div class="row profilerow">
                    <div class="col-lg-3">
                    </div>
                    <div class="col-lg-9">
                        <button type="button" class="whitebtn6" (click)="Profilecompletion()">Profile
                            Completion</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="band">
            <div class="band-1">
                <p class="text1">Stay Home. Save Lives</p>
                <div class="joinclass">
                    <p class="text2">Be in the known</p>
                    <button class="joinbtn">Join Now</button>
                </div>
                <p class="text28">Join us for a special webinar on how to help stop coronavirus.</p>
            </div>
            <div class="band-2">
                <img src="assets/Images/Bannermain.png">
            </div>
        </div>
    </div>
    <br>
    <div class="align">
        <h4 *ngIf="roledid==2">My Team Requests</h4>
        <h4 *ngIf="roledid==9">Company Staff Requests</h4>
    </div>

    <br />
    <div class="row">
        <div class="col-lg-3">
            <div class="dashcard">
                <div class="innercard7">
                    <div class="attendancecard">
                        <img src="assets/Images/leaveicon.png" class="imgattendance" />
                        <label class="mainlabel labelattendance">Leaves</label>
                    </div>
                    <label class="mainlabel1">Always Approve your Team leaves</label>
                </div>
                <br />
                <div class="btnpnch">
                    <button class="whitebtn1">
                        <p class="numbercount">{{Pendingcountforsupervisor}} </p>
                        <span class="countext">Pending</span>
                    </button>
                    <button class="whitebtn1">
                        <p class="numbercount">{{rejectedcountforsupervisor}}</p> <span class="countext">Rejected</span>
                    </button>
                </div>
                <div class="btnpnch">
                    <button class="whitebtn1">
                        <p class="numbercount">{{CancelledCount}} </p> <span class="countext">Cancelled</span>
                    </button>
                    <button class="whitebtn1">
                        <p class="numbercount">{{approvedcountforsupervisor}}
                        </p> <span class="countext">Approved</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="dashcard">
                <div class="innercard5">
                    <div class="attendancecard">
                        <img src="assets/Images/leaveicon.png" class="imgattendance" />
                        <label class="mainlabel labelattendance">Overtime</label>
                    </div>
                    <label class="mainlabel1">Always file your Overtime on time</label>
                </div>
                <br />
                <div class="btnpnch">
                    <button class="whitebtn1">
                        <p class="numbercount">{{pendingotcount1}}</p>
                        <span class="countext">Pending</span>
                    </button>
                    <button class="whitebtn1">
                        <p class="numbercount">{{Rejectedotcount1}} </p>
                        <span class="countext">Rejected</span>
                    </button>
                </div>
                <div class="btnpnch">
                    <button class="whitebtn1">
                        <p class="numbercount">{{approvedotcount1}}
                        </p> <span class="countext">Approved</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5">
            <div class="row">
                <div class="col-lg-5">
                    <div class="dashcars2 dashcard1">
                        <div class="holidaydiv">
                            <div class="holidayimg">
                                <img src="assets/Images/holiday.png" class="holidayimgwidth">
                                <p class="holiday holidayimgtxt">Holidays</p>
                            </div>
                            <p class="text4">These are the upcoming holidays</p>
                            <img src="{{tpholidayattachment}}">
                            <p class="holidayname">{{topholidayname}}</p>
                            <p class="holidaydate">{{topholidaydate|date}}</p>
                        </div>
                        <div class="row">
                            <div class="col-lg-9">
                                <button class="form-control fullbtn" routerLink="/Admin/HolidayDashboard">View
                                    More</button>
                            </div>
                            <div class="col-lg-3">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-5 holidaycol">
                    <div>
                        <div class="row holidayrowlist" *ngFor="let holiday of holidaylist1">
                            <div class="col-lg-3">
                                <img src="{{holiday.attachment}}" class="holidaylistattachment">
                            </div>
                            <div class="col-lg-9 holidaylistcol">

                                <div class="name1 align1"> {{holiday.holiday}}</div><br>
                                <div class="name2 align1"> {{holiday.holidayDate|date}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-1">
            <p>
        </div>
        <div class="col-lg-3">
            <div class="dashcard111">
                <div class="row">
                    <div class="col-lg-1">
                    </div>
                    <div class="col-lg-1">
                        <br />
                        <img src="assets/Images/Vaccinegray.png">
                    </div>
                    <div class="col-lg-9">
                        <br />
                        <p class="holiday1">Covid Vaccination</p>
                        <p class="text4">Upload vaccination details</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                        <p>1st DOSE</p>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3" *ngIf="FirstDoseDate==null">
                        <p class="records">No Records Found</p>
                    </div>
                    <div class="col-lg-3" *ngIf="FirstDoseDate!=null">
                        <p class="records">{{FirstDoseDate|date}}</p>
                    </div>
                    <div class="col-lg-4">
                        <a href="{{certificate_url}}" target="blank"><button class="bluebtn28"
                                *ngIf="certificate_url!=null">View File</button></a>
                        <button *ngIf="certificate_url==null" class="whitebtn3"
                            [routerLink]="['/Employee/VaccineForm',staffID]">Upload</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                        <p>2nd DOSE</p>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3" *ngIf="SecondDoseDate==null">
                        <p class="records">No Records Found</p>
                    </div>
                    <div class="col-lg-3" *ngIf="SecondDoseDate!=null">
                        <p class="records">{{SecondDoseDate|date}}</p>
                    </div>
                    <div class="col-lg-4">

                        <a href="{{certificate_url}}" target="blank"><button class="bluebtn28"
                                *ngIf="certificate_url!=null">View File</button></a>
                        <button *ngIf="certificate_url==null" class="whitebtn3"
                            [routerLink]="['/Employee/VaccineForm',staffID]">Upload</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-1">
                        <p>Booster</p>
                    </div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3" *ngIf="BoosterName==null">
                        <p class="records">No Records Found</p>
                    </div>
                    <div class="col-lg-3" *ngIf="BoosterName!=null">
                        <p class="records">{{BoosterDoseDate|date}}</p>
                    </div>
                    <div class="col-lg-4">
                        <a href="{{certificate_url}}" target="blank"><button class="bluebtn28"
                                *ngIf="certificate_url!=null">View File</button></a>
                        <button *ngIf="certificate_url==null" class="whitebtn3"
                            [routerLink]="['/Employee/VaccineForm',staffID]">Upload</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card1 card2">
                <div class="front">
                    <div class="row" class="announcementbgclr">
                        <div class="col-lg-2">
                            <br />
                            <img src="assets/Images/announcement.png" class="announcementimg">
                        </div>
                        <div class="col-lg-10">
                            <h1 class="cardlabel">Announcements</h1>
                        </div>
                        <br /> <br />
                    </div>
                    <br>
                    <div class="row" *ngIf="nonewannnounecemnet">
                        <h4 class="noannouncementrslt">No Announcements Today !</h4>
                    </div>
                    <div class="announcementlstimg">
                        <div class="row" *ngFor="let obj of newannnounecemnetlist">
                            <div class="col-lg-4">
                                <img src="{{obj.attachment}}" class="holidayannouncement">
                            </div>
                            <div class="col-lg-8">
                                <div class="name1"> {{obj.name}}</div>
                            </div>
                            <hr class="new4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Birthday List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead class="thead">
                        <tr>
                            <th class="centeralign"><label>Name</label>
                            </th>
                            <th class="centeralign"><label>Phone
                                    Number</label></th>
                            <th class="centeralign"><label>Email</label>
                            </th>
                        </tr>
                    </thead>
                    <tr *ngFor="let holiday of Anniverserylist1">
                        <td><label>{{holiday.name}} {{holiday.middle_Name}}</label></td>
                        <td><label>{{holiday.mobile}}</label></td>
                        <td><label>{{holiday.emailID}}</label></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="exampleModal1">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Anniversery List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead class="thead">
                        <tr class="profiledetrw">
                            <th class="centeralign"><label>Years</label>
                            </th>
                            <th class="centeralign"><label>Name</label>
                            </th>
                            <th class="centeralign"><label>Phone
                                    Number</label></th>
                            <th class="centeralign"><label>Email</label>
                            </th>
                        </tr>
                    </thead>
                    <tr class="profiledetrw" *ngFor="let holiday of Anniverserylist">
                        <td><label class="centeralign">{{holiday.joindiff}}</label></td>
                        <td><label class="centeralign">
                                {{holiday.name}} {{holiday.middle_Name}}</label></td>
                        <td><label class="centeralign">{{holiday.mobile}}</label></td>
                        <td><label class="centeralign">{{holiday.emailID}}</label></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="exampleModal2">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">NewJoinee List</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead class="thead">
                        <tr class="profiledetrw">
                            <th class="centeralign"><label>Name</label>
                            </th>
                            <th class="centeralign"><label>Phone
                                    Number</label></th>
                            <th class="centeralign"><label>Email</label>
                            </th>
                        </tr>
                    </thead>
                    <tr class="profiledetrw" *ngFor="let holiday of Anniverserylist2">
                        <td><label class="centeralign">
                                {{holiday.name}} {{holiday.middle_Name}}</label></td>
                        <td><label class="centeralign">{{holiday.mobile}}</label></td>
                        <td><label class="centeralign">{{holiday.emailID}}</label></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<div id="Allocate" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>Attachment</h1>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row centertxt">
                        <div class="col-lg-3">
                        </div>
                        <img src="{{medicalurl}}" alt="medical.img" class="imgwidth">
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>

<div id="VaccinationModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>Vaccination Details</h1>
                    </div>
                </div>

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row centertxt">
                        <div class="col-md-3">
                            <ngx-dropzone accept="image/jpeg,image/jpg,image/png,application/pdf"
                                (change)="onSelect21($event)" class="dropFile">
                                <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of attachments21" [removable]="true"
                                    (removed)="onRemove21(f)">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>

                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button class="form-control EditVaccination" (click)="UpdateVaccinationDetails()"
                        data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="VaccinationModal1" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>Vaccination Details</h1>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row centertxt">
                        <div class="col-md-3">
                            <ngx-dropzone accept="image/jpeg,image/jpg,image/png,application/pdf"
                                (change)="onSelect21($event)" class="dropFile">
                                <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of attachments21" [removable]="true"
                                    (removed)="onRemove21(f)">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>

                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button class="form-control EditVaccination" (click)="UpdateVaccinationDetails1()"
                        data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="VaccinationModal2" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h1>Vaccination Details</h1>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row centertxt">
                        <div class="col-md-3">
                            <ngx-dropzone accept="image/jpeg,image/jpg,image/png,application/pdf"
                                (change)="onSelect21($event)" class="dropFile">
                                <ngx-dropzone-label>Drop files here!</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of attachments21" [removable]="true"
                                    (removed)="onRemove21(f)">
                                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>

                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                    <button class="form-control EditVaccination" (click)="UpdateVaccinationDetails2()"
                        data-dismiss="modal">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>