<app-loader *ngIf="loader"></app-loader>
<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <p class="Heading">Over Time Details</p>
                <img src="assets/Images/revamp/cancle-icon.png" (click)="cancel()" class="closeicon">
            </div>

            <div class="popupcontent">
                <div class="popupinputs">
                    <p>Date<span class="span">*</span></p>
                    <div>
                        <input type="date" id="Date" name="Date" (change)="getOverTimeDate()" [(ngModel)]="Date"
                            class="form-control inputfield" max="{{maxdate}}">
                            <br>
                        </div>
                </div>

                <div class="popupinputs">
                    <p>Start Time<span class="span">*</span></p>
                    <div>
                        <timepicker [showMeridian]="false" [showSpinners]="showSpinners" name="starttime"
                        [(ngModel)]="starttime" id="starttime" (change)="checkstartdate()">
                    </timepicker>
                        <span class="red">Note:Please Enter Military Time</span>
                    </div>
                </div>

                <div class="popupinputs">
                    <p>End Time<span class="span">*</span></p>
                    <div>
                        <timepicker [showMeridian]="false" [showSpinners]="showSpinners" name="endtime"
                        [(ngModel)]="endtime" id="endtime" (change)="duration()"></timepicker>
                            <span class="red">Note:Please Enter Military Time</span>
                    </div>
                </div>

                <div class="popupinputs">
                    <p>Attachment</p>
                    <div>
                        <ngx-dropzone accept=".png,.jpg,.jpeg" (change)="onSelect21($event)" class="dropFile">
                            <img src="assets/Images/MicrosoftTeams-image.png" *ngIf="attachments21.length==0"
                                class="img-set dropdowning">
                            <ngx-dropzone-label>Drop files here<br>only jpg/png/jpeg (max 5mb)</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of attachments21" [removable]="true"
                                (removed)="onRemove21(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <!-- <a *ngIf="ID!=undefined" href="{{documentAttachment}}" target="_blank">
                        <img width="25" height="25" border="0" align="center" src="assets/attached.png" />
                    </a> -->
                </div>

                <div class="popupinputs">
                    <p>Comments<span class="span">*</span></p>
                    <div>
                        <textarea rows="3" id="Comments" name="Comments" [(ngModel)]="Comments" type="text"
                            placeholder="Comments" class="form-control inputfield"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-end w-100 mt-2 mb-2 pr-2">
                    <button *ngIf="showdetails" class="close-button" data-toggle="modal" data-target="#CheckListStatusform">OT
                        Details</button>
                    <button class="close-button" (click)="cancel()">Cancel</button>
                    <button *ngIf="showdetails" class="submit-button" (click)="Save()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="CheckListStatusform" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">OT Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>OT Type</th>
                        <th>No of Hours</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Normal OT </td>
                        <td>{{noofhours}}</td>
                    </tr>
                    <tr>
                        <td>Night OT </td>
                        <td>{{nightothous}}</td>
                    </tr>
                    <!-- <tr>
                        <td> Restday OT </td>
                        <td> {{restNormalOT}}</td>
                    </tr> -->

                    <tr>

                        <td> Excess Night OT </td>
                        <td> {{ExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Excess Normal OT </td>
                        <td> {{ExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Rest Night OT </td>
                        <td> {{RestNightOt}}</td>
                    </tr>
                    <tr>
                        <td>Rest Normal OT </td>
                        <td>{{RestNormalOT}}</td>
                    </tr>
                    <tr>
                        <td> Excess Rest Normal OT </td>
                        <td> {{ExccessRestNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Rest Excess Night OT </td>
                        <td> {{RestExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Night OT </td>
                        <td> {{LegalNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Normal OT </td>
                        <td> {{LegalNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Normal OT </td>
                        <td> {{LegalExccessNormalOt}}</td>
                    </tr>
                    <tr>
                        <td>Legal Excess Night OT </td>
                        <td>{{LegalExccessNightOt}}</td>
                    </tr>
                    <tr>
                        <td> Special Night OT </td>
                        <td> {{SpecialNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Normal OT </td>
                        <td> {{SpecialNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Special Excess Normal OT </td>
                        <td> {{SpecialExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Excess Night OT </td>
                        <td> {{SpecialExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Rest Night OT </td>
                        <td> {{SpecialRestNightOt}}</td>
                    </tr>
                    <tr>
                        <td>Special Rest Normal OT </td>
                        <td>{{SpecialRestNormalOT}}</td>
                    </tr>
                    <tr>
                        <td> Special Rest Excess Normal OT </td>
                        <td> {{SpecialRestExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Rest Excess Night OT </td>
                        <td> {{SpecialRestExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Rest Night OT </td>
                        <td> {{LegalRestNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Rest Normal OT </td>
                        <td> {{LegalRestNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Rest Normal OT </td>
                        <td> {{LegalExccessRestNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Rest Night OT </td>
                        <td> {{LegalExccessRestNightOt}}</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>