<app-loader *ngIf="loader"></app-loader>
<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-between">
                <p class="Heading">Over Time Details</p>
                <img src="assets/Images/revamp/cancle-icon.png" (click)="cancel()" class="closeicon">
            </div>

            <div class="popupcontent">
                <div class="popupinputs">
                    <p>Date<span class="span">*</span></p>
                    <div>
                        <input type="date" onkeydown="return false" (ngModelChange)="getOverTimeDate()" id="Date"
                            name="Date" [(ngModel)]="date" class="form-control inputfield" max="{{maxDate}}">
                            <br>
                        </div>
                </div>

                <div class="popupinputs">
                    <p>Start Time<span class="span">*</span></p>
                    <div>
                        <timepicker [showMeridian]="false" [showSpinners]="showSpinners" name="startTime"
                            [(ngModel)]="startTime" id="startTime" (change)="checkStartDate()">
                        </timepicker>
                        <span class="red">Note:Please Enter Military Time</span>
                    </div>
                </div>

                <div class="popupinputs">
                    <p>End Time<span class="span">*</span></p>
                    <div>
                        <timepicker [showMeridian]="false" [showSpinners]="showSpinners" name="endTime"
                            [(ngModel)]="endTime" id="endTime" (change)="duration()"></timepicker>
                            <span class="red">Note:Please Enter Military Time</span>
                    </div>
                </div>

                <div class="popupinputs">
                    <p>Attachment</p>
                    <div>
                        <ngx-dropzone accept=".png,.jpg,.jpeg" (change)="onSelect21($event)" class="dropFile">
                            <img src="assets/Images/MicrosoftTeams-image.png" *ngIf="attachments21.length==0"
                                class="img-set dropdowning">
                            <ngx-dropzone-label>Drop files here<br>only jpg/png/jpeg (max 5mb)</ngx-dropzone-label>
                            <ngx-dropzone-preview *ngFor="let f of attachments21" [removable]="true"
                                (removed)="onRemove21(f)">
                                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                            </ngx-dropzone-preview>
                        </ngx-dropzone>
                    </div>
                    <!-- <a *ngIf="ID!=undefined" href="{{documentAttachment}}" target="_blank">
                        <img width="25" height="25" border="0" align="center" src="assets/attached.png" />
                    </a> -->
                </div>

                <div class="popupinputs">
                    <p>Comments<span class="span">*</span></p>
                    <div>
                        <textarea type="text" class="form-control" rows="4" placeholder="Comments" [(ngModel)]="comment"
                            name="comment" id="comment"></textarea>
                    </div>
                </div>

                <div class="d-flex justify-content-end w-100 mt-2 mb-2 pr-2">
                    <button *ngIf="showDetails" class="close-button" data-toggle="modal" data-target="#CheckListStatusform">OT
                        Details</button>
                    <button class="close-button" (click)="cancel()">Cancel</button>
                    <button *ngIf="showDetails" class="submit-button" (click)="submit()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="CheckListStatusform" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">OT Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>OT Type</th>
                        <th>No of Hours</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Normal OT </td>
                        <td>{{noOfHours}}</td>
                    </tr>
                    <tr>
                        <td>Night OT </td>
                        <td>{{nightOTHours}}</td>
                    </tr>
                    <!-- <tr>
                        <td> Restday OT </td>
                        <td> {{restNormalOT}}</td>
                    </tr> -->

                    <tr>

                        <td> Excess Night OT </td>
                        <td> {{exccessNightOT}}</td>
                    </tr>
                    <tr>

                        <td> Excess Normal OT </td>
                        <td> {{exccessNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Rest Night OT </td>
                        <td> {{restNightOT}}</td>
                    </tr>
                    <tr>
                        <td>Rest Normal OT </td>
                        <td>{{restNormalOT}}</td>
                    </tr>
                    <tr>
                        <td> Excess Rest Normal OT </td>
                        <td> {{exccessRestNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Rest Excess Night OT </td>
                        <td> {{restExccessNightOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Night OT </td>
                        <td> {{legalNightOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Normal OT </td>
                        <td> {{legalNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Normal OT </td>
                        <td> {{legalExccessNormalOT}}</td>
                    </tr>
                    <tr>
                        <td>Legal Excess Night OT </td>
                        <td>{{legalExccessNightOT}}</td>
                    </tr>
                    <tr>
                        <td> Special Night OT </td>
                        <td> {{specialNightOT}}</td>
                    </tr>
                    <tr>

                        <td> Special Normal OT </td>
                        <td> {{specialNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Special Excess Normal OT </td>
                        <td> {{specialExccessNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Special Excess Night OT </td>
                        <td> {{specialExccessNightOT}}</td>
                    </tr>
                    <tr>

                        <td> Special Rest Night OT </td>
                        <td> {{specialRestNightOT}}</td>
                    </tr>
                    <tr>
                        <td>Special Rest Normal OT </td>
                        <td>{{specialRestNormalOT}}</td>
                    </tr>
                    <tr>
                        <td> Special Rest Excess Normal OT </td>
                        <td> {{specialRestExccessNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Special Rest Excess Night OT </td>
                        <td> {{specialRestExccessNightOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Rest Night OT </td>
                        <td> {{legalRestNightOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Rest Normal OT </td>
                        <td> {{legalRestNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Rest Normal OT </td>
                        <td> {{legalExccessRestNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Rest Night OT </td>
                        <td> {{legalExccessRestNightOT}}</td>
                    </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>