#spinner {
    -webkit-animation: frames 1s infinite linear;
    animation: frames 1s infinite linear;
    filter: blur(10px);
    border-radius: 100%;
    border-top-color: #1125a9;
    width: 10vw;
    height: 10vw;
    opacity: .6;
    padding: 0;
    position: absolute;
    z-index: 9999;
}

@keyframes frames {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

#pause {
    display: block;
    background: rgba(0, 0, 0, 0.66) no-repeat 0 0;
    width: 100%;
    height: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
}

.cardloader {
    position: absolute;
    width: 408px;
    height: 165px;
    left: 516px;
    top: 200px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px 3px rgba(0, 0, 0, 0.12);
    border-radius: 16px;
}

.loadertext {
    position: absolute;
    width: 328px;
    height: 15px;
    left: 50px;
    top: 36px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #1125a9;
}

#loader {
    -webkit-animation: frames 1s infinite linear;
    animation: frames 1s infinite linear;
    background: transparent;
    border: 1.75vw solid #FFF;
    border-radius: 100%;
    border-top-color: #1125a9;
    width: 3vw;
    height: 3vw;
    opacity: 1.6;
    padding: 0;
    position: absolute;
    z-index: 9999;
    top: 92px;
    left: 174px;
}

.loading {
    position: absolute;
    width: 3vw;
    height: 3vw;
    top: 92px;
    left: 174px;
    border-radius: 5px;
    transform: rotate(-92.19deg);
}

