<app-loader *ngIf="loader"></app-loader>
<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul>
                <li><a class="Heading" routerLink="/Employee/LeaveRequestDash">
                        <p class="Heading">My Leave details</p>
                    </a>
                </li>

                <li *ngIf="roleID==2 ||  roleID==9"><a class="Heading">
                        <p class="Heading">Team Leave Details</p>
                    </a>
                    <hr class="line-border listForm">
                </li>

                <li *ngIf="roleID==10||roleID==11 ||  roleID==1"><a class="Heading">
                        <p class="Heading">Company Leave Details</p>
                    </a>
                    <hr class="line-border listForm">
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="d-flex flex-wrap">
            <div class="d-flex align-items-center">
                <img src="assets/Images/revamp/filter.svg" class="filter-img">
                <p class="filter">Filter by:</p>
            </div>

            <div class="cardinputs">
                <input type="bsdate" placeholder="mm/dd/yyyy-mm/dd/yyyy" class="form-control" bsDaterangepicker
                    [(ngModel)]="date" [bsConfig]="{ showWeekNumbers:false }" (ngModelChange)="getEndDate($event)">
            </div>

            <div class="cardinputs">
                <input type="text" placeholder="Search" id="term" [(ngModel)]="search" class="form-control search-icon">
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-12 dashbutton bttn">
            <div class="tab-slider--nav">
                <ul class="tab-slider--tabs">
                    <li class="tab-slider--trigger" [class.active]="!showorhidecontent" rel="tab1" value="2"
                        (click)="changeStatus($event)">
                        Calendar</li>
                    <li class="tab-slider--trigger" [class.active]="showorhidecontent" rel="tab2" value="1"
                        (click)="changeStatus($event)">
                        List View</li>
                </ul>
            </div>
        </div>
    </div>
    <br [hidden]="showorhidecontent">

    <div class="row mt-3" [hidden]="!showorhidecontent">
        <div class="col-lg-12 dashbutton bttn">
            <div class="tab-slider--nav">
                <ul class="tab-slider--tabs">
                    <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1"
                        (click)="viewMode ='tab1'">
                        Pending</li>
                    <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2"
                        (click)="viewMode ='tab2'">
                        Approved</li>
                    <li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3"
                        (click)="viewMode ='tab3'">
                        Rejected</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="shadow p-3 mb-5 bg-white rounded  maincard " [hidden]="showorhidecontent">
        <div class="row">
            <div class="col-lg-12">
                <div class="row callendernavButtons">
                    <div class="col-lg-4">
                        <a (click)="previousmonth()">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </a>
                    </div>
                    <div class="col-lg-4">
                        <strong>{{callenderMonth}}</strong> {{callenderyear}}
                    </div>
                    <div class="col-lg-4">
                        <a (click)="nextmonth()">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="row callenderdiv">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-2 callenderboxes"
                                *ngFor="let calday of callenderdaysdount;let i = index">
                                {{calday.date}} {{calday.day}}
                                <div class="event_Pending calendarrequest" [innerHtml]='calday.mantainenceHtml'
                                    (click)="ShowMaintenanceRequest($event)">
                                </div>
                                <div class="col-md-2" *ngIf=" calday.mantainenceHtml!=null">
                                    <h6 class="event_Pending changestatuscol" (click)="changeStatus1()">
                                        view more.....
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-slider--container" [ngSwitch]="viewMode" [hidden]="!showorhidecontent">
        <div *ngSwitchCase="'tab1'" id="tab1">
            <div class="row">
                <div class="col-md-10">
                    <p class="show3res">SHOWING <span>{{(staffleaves1|filter:search)?.length}}
                        </span>RESULT(S)</p>
                </div>
            </div>

            <div class="listscroll">
                <table class="table">
                    <thead>
                        <tr class="head">
                            <th><input type="checkbox" (click)="selectALL($event)"></th>
                            <th>Staff ID</th>
                            <th>Staff Name</th>
                            <th>Submitted Date</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Leave Type</th>
                            <th>HalfDay</th>
                            <th>Leave Reason</th>
                            <th>Leave Days Count</th>
                            <th>Attachment</th>
                           
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of staffleaves1|filter:search">
                            <td><input type="checkbox" [(ngModel)]="data.checked" [value]="data.value"
                                    (click)="getCheckbocdetails(data,$event)"></td>
                            <td>{{data.empid}}</td>
                            <td>{{data.staffName}}</td>
                            <td>{{data.applieddate|date}} </td>
                            <td>{{data.sDateOfLeave}} </td>
                            <td>{{data.eDateOfLeave}} </td>
                            <td>{{data.leavetype}}</td>
                            <td>{{data.halfDaytype}}</td>
                            <td>{{data.leaveReason}}</td>
                            <td>{{data.noOfDays}}</td>
                            <td>
                                <!-- <p *ngIf="list.medicalUrl==null">No Attachment</p> -->
                                <p
                                    *ngIf="data.medicalUrl=='https://www.digiofficehrhub.com/ALIAPI/Images/EmptyProfile/noimage.png'">
                                    No Attachment</p>
                                <a href="{{data.medicalUrl}}" target="_blank">
                                    <img *ngIf="data.medicalUrl!='https://www.digiofficehrhub.com/ALIAPI/Images/EmptyProfile/noimage.png'"
                                        src="assets/Images/image.png" alt="pdf.img"
                                        class="attachmentPin"></a>
                            </td>
                          
                            <td class="onelinetext" *ngIf="roleID==2">
                                <img class="dashedit-icon" src="assets/Images/accept-01.svg"
                                    (click)="ManagerLeaveApprove(data)" [ngbTooltip]="tipContentApprove"
                                    tooltipClass="my-custom-class"
                                    *ngIf="data.status=='Manager Pending HR Pending'|| data.status==null || data.status=='Manager Pending'">

                                <img class="dashedit-icon" src="assets/Images/cancel-02.svg" data-toggle="modal"
                                    data-target="#Reject" (click)="GetRejectID(data.id)" [ngbTooltip]="tipContentReject"
                                    tooltipClass="my-custom-class" *ngIf="data.status=='Manager Pending HR Pending'||
                                    data.status==null || data.status=='Manager Pending'">

                                <div class="col-lg-2 Text p-0">
                                    <ng-template #tipContentApprove>
                                        <div>
                                            <div class="d-flex">
                                                <div class="flex-column mt-2">
                                                    <p class="tooltip-txtForIcons">Approve</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <div class="col-lg-2 Text p-0">
                                    <ng-template #tipContentReject>
                                        <div>
                                            <div class="d-flex">
                                                <div class="flex-column mt-2">
                                                    <p class="tooltip-txtForIcons">Reject</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <span class="NoResultShow" *ngIf="(uniquedropdownDeptList).length==0">
                    <b>Sorry, we couldn't find any results.</b></span>   <br> -->
            </div>
            <!-- <div class="text-right" *ngIf="(uniquedropdownDeptList).length>count1">
                <br>
                <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                    class="poppinns"></pagination-controls>
            </div> -->
        </div>

        <div *ngSwitchCase="'tab2'" id="tab2">
            <div class="row">
                <div class="col-md-10">
                    <p class="show3res">SHOWING <span>{{(staffleaves2|filter:search)?.length}}
                        </span>RESULT(S)</p>
                </div>
            </div>

            <div class="listscroll">
                <table class="table">
                    <thead>
                        <tr class="head">
                            <th>Staff ID</th>
                            <th>Staff Name</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Submitted Date</th>
                            <th>Approved Date</th>
                            <th>Leave Type</th>
                            <th>HalfDay</th>
                            <th>Leave Reason</th>
                            <th>Leave Days Count</th>
                            <th>Attachment</th>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of staffleaves2|filter:search">
                            <td>{{data.empid}}</td>
                            <td>{{data.staffName}}</td>
                            <td>{{data.sDateOfLeave}} </td>
                            <td>{{data.eDateOfLeave}} </td>
                            <td>{{data.applieddate|date}} </td>
                            <td>{{data.approvedDate|date}} </td>
                            <td>{{data.leavetype}}</td>
                            <td>{{data.halfDaytype}}</td>
                            <td>{{data.leaveReason}}</td>
                            <td>{{data.noOfDays}}</td>
                            <td>
                                <!-- <p *ngIf="list.medicalUrl==null">No Attachment</p> -->
                                <p
                                    *ngIf="data.medicalUrl=='https://www.digiofficehrhub.com/ALIAPI/Images/EmptyProfile/noimage.png'">
                                    No Attachment</p>
                                <a href="{{data.medicalUrl}}" target="_blank">
                                    <img *ngIf="data.medicalUrl!='https://www.digiofficehrhub.com/ALIAPI/Images/EmptyProfile/noimage.png'"
                                        src="assets/Images/image.png" alt="pdf.img"
                                        class="attachmentPin"></a>
                            </td>
                        
                        </tr>
                    </tbody>
                </table>
                <!-- <span class="NoResultShow" *ngIf="(uniquedropdownDeptList).length==0">
                    <b>Sorry, we couldn't find any results.</b></span>   <br> -->
            </div>
            <!-- <div class="text-right" *ngIf="(uniquedropdownDeptList).length>count1">
                <br>
                <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                    class="poppinns"></pagination-controls>
            </div> -->
        </div>

        <div *ngSwitchCase="'tab3'" id="tab3">
            <div class="row">
                <div class="col-md-10">
                    <p class="show3res">SHOWING <span>{{(staffleaves3|filter:search)?.length}}
                        </span>RESULT(S)</p>
                </div>
            </div>

            <div class="listscroll">
                <table class="table">
                    <thead>
                        <tr class="head">
                            <th>Staff ID</th>
                            <th>Staff Name</th>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th>Submitted Date</th>
                            <th>Approved Date</th>
                            <th>Leave Type</th>
                            <th>HalfDay </th>
                            <th>Leave Reason</th>
                            <th>Leave Days Count</th>
                            <th>Attachment</th>
                          
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of staffleaves3|filter:search">
                            <td>{{data.empid}}</td>
                            <td>{{data.staffName}}</td>
                            <td>{{data.sDateOfLeave}} </td>
                            <td>{{data.eDateOfLeave}} </td>
                            <td>{{data.applieddate|date}} </td>
                            <td>{{data.approvedDate|date}} </td>
                            <td>{{data.leavetype}}</td>
                            <td>{{data.halfDaytype}}</td>
                            <td>{{data.leaveReason}}</td>
                            <td>{{data.noOfDays}}</td>
                            <td>
                                <!-- <p *ngIf="list.medicalUrl==null">No Attachment</p> -->
                                <p
                                    *ngIf="data.medicalUrl=='https://www.digiofficehrhub.com/ALIAPI/Images/EmptyProfile/noimage.png'">
                                    No Attachment</p>
                                <a href="{{data.medicalUrl}}" target="_blank">
                                    <img *ngIf="data.medicalUrl!='https://www.digiofficehrhub.com/ALIAPI/Images/EmptyProfile/noimage.png'"
                                        src="assets/Images/image.png" alt="pdf.img"
                                        class="attachmentPin"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <span class="NoResultShow" *ngIf="(uniquedropdownDeptList).length==0">
                    <b>Sorry, we couldn't find any results.</b></span>   <br> -->
            </div>
            <!-- <div class="text-right" *ngIf="(uniquedropdownDeptList).length>count1">
                <br>
                <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                    class="poppinns"></pagination-controls>
            </div> -->
        </div>
    </div>
</div>

<div id="Reject" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Reject Notes</h5>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row centeralign">
                        <div class="col-lg-3">
                            Notes
                        </div>
                        <div class="col-lg-7">
                            <textarea rows="3" type="text" [(ngModel)]="Notes" id="Notes" name="Notes"
                                class="form-control" placeholder="Notes"></textarea>
                        </div>
                    </div>
                    <br />
                    <div class="row centeralign">
                        <div class="col-lg-4"> </div>
                        <div class="col-lg-5">
                            <button class="upload" (click)="ManagerLeaveDecline()">Submit</button>
                        </div>
                    </div>
                    <br />
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</div>