ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  .bgred {
    background-color: orange;
    color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #3247D5;
    text-align: center;
    text-decoration: none;
  }
  
  .requestbtn {
    background-color: #4282be;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    border-left: solid 1px #f5f5f5;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
  }
  
  .leavelist {
    padding: 0px 40px;
  }
  
  .applyleavetxt {
    padding: 0px 10px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .show3res {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5;
    color: #777;
    text-transform: uppercase;
    padding: 10px 0 5px;
  }
  
  .leavebalance {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: #404040;
    font-size: 20px;
  }
  
  .leavereq {
    padding-left: 10px;
  }
  
  .inputfield {
    background-color: rgb(238, 234, 234);
  }
  
  .table {
    border-color: black;
  }
  
  .BackEnt {
    margin-top: -10px;
    font-size: x-large;
    font-weight: 900;
    text-decoration: none;
  }
  
  .BACK {
    margin-top: 10px;
    text-decoration: none;
  }
  
  .submitbtn {
    background-color: #2F87CC;
    color: white;
  }
  
  .txt {
    color: red;
  }
  
  u {
    text-decoration-color: #2F87CC;
    text-decoration-thickness: 0.1em;
    text-decoration-thickness: 12px;
  }
  
  .ulalign {
    margin-left: 10px;
  }
  
  .rolefiltr {
    color: #0C275A
  }
  
  .btnwd {
    width: 131%;
  }
  
  .rowht {
    width: 1260px;
    overflow-x: scroll;
  }
  
  .tableht {
    height: 300px;
  }
  
