ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #1125a9;
    text-align: center;
    text-decoration: none;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 0rem;
  }
  
  li a:hover {
    text-decoration: 3px solid rgb(28, 32, 94) underline;
  }
  
  u {
  /*   text-transform: uppercase; */
    text-shadow: initial;
    letter-spacing: 0.5px;
    color: #ffffff;
    border-radius: 5px;
    padding: 3px;
    float: right;
    font-size: 15px;
    width: auto;
    background: #1125a9;
    border-radius: 5px solid #1125a9;
    border: 5px solid #1125a9;
    text-decoration-color: #1125a9;
  
  }
  
  .requestbtn {
    background-color: #4282be;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    border-left: solid 1px #f5f5f5;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
    width: 40%;
    float: right;
  }
  
  .leavelist {
    padding: 0px 20px;
  }
  
  
  
  .show3res {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.5;
    color: #777;
    text-transform: uppercase;
    padding: 10px 0 5px;
  }
  
  .leavebalance {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: #404040;
    font-size: 20px;
  }
  
  .table {
    padding: 10px;
  }
  
  .three-dots:after {
    cursor: pointer;
    color: black;
    content: '\2807';
    font-size: 20px;
    padding: 0 5px;
  }
  
  .dropdown {
    position: absolute;
    right: 10px;
    background-color: #4282be;
    box-shadow: 0px 0px 3px 3px #4282be;
    color: white;
    outline: none;
    opacity: 0;
    z-index: -1;
    max-height: 0;
    transition: opacity 0.1s, z-index 0.1s, max-height 5s;
    width: 50px;
    height: 55px;
  }
  
  .dropdown-container:focus {
    outline: none;
  }
  
  .dropdown-container:focus .dropdown {
    opacity: 1;
    z-index: 100;
    max-height: 100vh;
    transition: opacity 0.2s, z-index 0.2s, max-height 0.2s;
  }
  
  .btnhover:hover {
    background-color: #2F87CC;
    color: white;
  }
  
  a:active {
    color: brown;
  }
  
  .submitbtn {
    background-color: #2F87CC;
    color: white;
  }
  
  .leavereq {
    padding-left: 10px;
  }
  
  /* .filter {
    position: absolute;
    width: 56px;
    height: 13px;
    top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    color: #1125a9;
    left: 35px;
  }
  
  
  
  .filter-img {
    position: absolute;
    height: 18px;
    left: 13.43%;
    right: 81.6%;
    top: 9px;
  } */
  
  
  .cardinputs {
    display: flex;
    flex-direction: column;
    margin: 5px 5px !important;
    width: 245px;
    justify-content: center;
  }
  
  
  
  
  @media (max-width: 576px) {
  
    .cardinputs {
      display: flex;
      flex-direction: column;
      margin:5px 5px !important;
      width: 245px;
      justify-content: center;
  
    }
  }
  /* spinner code start */
  #spinner {
  
    -webzit-animation: frames 1s infinite linear;
  
    animation: frames 1s infinite linear;
  
    background: transparent;
  
    border: 0.5vw solid #FFF;
  
    border-radius: 100%;
  
    border-top-color:  #1125a9;
  
  
    width: 6vw;
  
    height: 6vw;
  
    opacity: .6;
  
    padding: 0;
  
    /* position: absolute; */
  
    z-index: 9999;
  
    margin-top: 10px;
  
    /* filter: blur(10px); */
  
  }
  
  
  @keyframes frames {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
  }
  
  .modal-header { height: 100%!important;}
  
  #pause {
    display: block;
     width: 100%;
    /* background-color: black; */
    height: 100%;
    bottom: 0;
    left: 0;
    z-index: 9999;
  
  }
  
  .loadertext{
  position: absolute;
  width: 328px;
  height: 15px;
  left: 50px;
  top: 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 15px;
  /* identical to box height, or 79% */
  text-align: center;
  letter-spacing: 0.5px;
  color: #1125a9;
  }
  
  #loader{
  -webkit-animation: frames 1s infinite linear;
    animation: frames 1s infinite linear;
    background: transparent;
    border: 1.75vw solid #FFF;
    border-radius: 100%;
    border-top-color:  #1125a9;
    width: 3vw;
    height: 3vw;
    opacity: 1.6;
    padding: 0;
    position: absolute;
    z-index: 9999;
    top: 92px;
    left: 174px;
  }
  
  .loading{
  position: absolute;
  width: 3vw;
  height: 3vw;
  top: 92px;
  left: 174px;
  /* background: #1125a9; */
  border-radius: 5px;
  transform: rotate(-92.19deg);
  }
  
  
  .loader-class
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%
  }
  /* end */
  .show3res1{
    font-size: 20px;
    color:#1125a9;
    font-weight: bold;
  }