ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #494949;
    text-align: center;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: 3px solid rgb(28, 32, 94) underline;
  }
  
  .requestbtn {
    background-color: #4282be;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    border-left: solid 1px #f5f5f5;
    font-size: 15px;
    line-height: 12px;
    text-align: center;
    white-space: nowrap;
  }
  
  .leavelist {
    padding: 0px 20px;
  }
  
  /* .btnhover:hover{
          background-color: #2F87CC;
          color: white;
      } */
  .applyleavetxt {
    padding: 0px 10px;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .container-fluid {
    font-family: 'Poppins';
    padding: 0px;
    margin: 0px;
  }
  
  /* th{
          background-color: #e4e5e6;
      }
      td{
        background-color: white;
        color: #494949;
    } */
  
  .leavebalance {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
    color: #404040;
    font-size: 20px;
  }
  
  .leavereq {
    padding-left: 10px;
  }
  
  .inputfield {
    background-color: rgb(238, 234, 234);
    ;
  }
  
  .icon {
    font-size: 15px;
    color: #3247D5;
  }
  
  .btn1 {
    text-transform: uppercase;
    font-weight: initial;
    text-shadow: initial;
    letter-spacing: 0.5px;
    background-color: #3247d5;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 35%;
    float: right;
    margin-right: 0px;
    font-size: 15px;
    font-weight: bold;
  }
  
  
  
  .BackEnt {
    margin-top: -10px;
    font-size: x-large;
    font-weight: 900;
    text-decoration: none;
  }
  
  .BACK {
    margin-top: 10px;
    text-decoration: none;
  }
  
  .submitbtn {
    background-color: #2F87CC;
    color: white;
  }
  
  .txt {
    color: red;
  }
  
  u {
    text-decoration-color: black;
    text-decoration-thickness: 2px;
  }
  
  tr:nth-child(even) {
    background-color: Lightgreen;
  }
  
  .span {
    color: black;
  }
  
  
  
  .buttonstaff {
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    position: absolute;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    font-family: 'Poppins';
    font-style: normal;
    letter-spacing: 0.658333px;
    color: #ffffff;
    background: #3247D5;
    box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
    border-radius: 5px solid #3247D5;
    border: 5px solid #3247D5;
    top: 20px;
    text-transform: uppercase;
    left: 222px;
    white-space: pre;
  }
  
  .Addbutton1 {
    text-transform: uppercase;
    font-weight: initial;
    text-shadow: initial;
    letter-spacing: 0.5px;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    padding: 5px;
    width: 40%;
    float: right;
    /* margin-right: 15px; */
    font-size: 13px;
    width: 166px;
    font-weight: bold;
    background: #3247D5;
    box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
    border-radius: 5px solid #3247D5;
    border: 5px solid #3247D5;
    font-size: 11px;
    height: 40px;
  }
  
  
  @media (min-width: 1920px) and (max-width: 2560px) {
    .buttonstaff {
      left: 310px;
    }
  
  }