<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-lg-11">
                <p class="Heading">Staff Dashboard</p>
            </div>
        </div>
        <div class="row FilterClass">
            <div class="col-lg-12">
                <div class="card">

                    <div class="row">
                        <div class="col-lg-1">
                            <img src="assets/Images/filter.svg" class="filter-img">
                            <p class="filter">Filter By</p>
                        </div>
                        <!-- <div class="col-lg-3">
                            <select class="form-control" id="AssignedCompany" name="AssignedCompany"
                                (change)="getAssignedCompany()" [(ngModel)]="AssignedCompany">
                                <option value="0">Assigned Subsidiary</option>
                                <option value="Ayala Land">Ayala Land</option>
                                <option value="Avida Land Corp">Avida Land Corp</option>
                                <option value="Avida Sales Corp">Avida Sales Corp</option>
                                <option value="Ayala Land Premier, Inc">Ayala Land Premier, Inc</option>
                                <option value="Ayala Land Sales Inc">Ayala Land Sales Inc</option>
                                <option value="Ayala Land Offices, Inc">Ayala Land Offices, Inc</option>
                            </select>
                        </div> -->
                        <div class="col-lg-3">
                            <!-- <select class="form-control" id="Department" name="Department" [(ngModel)]="Department"
                                (change)="getDepartment()">
                                <option value="0">Select Department</option>
                                <option value="{{item.id}}" *ngFor="let item of Departmentlist">
                                    {{item.department_name}}
                                </option>
                            </select> -->

                            <ng-multiselect-dropdown [placeholder]="'Select Department'"
                                [settings]="deptdropdownSettings" [data]="dropdownDeptList"
                                [(ngModel)]="deptselectedItems" (onSelect)="deptonItemSelect($event)">
                            </ng-multiselect-dropdown>

                        </div>
                        <!-- <div class="col-lg-2">

                            <select class="form-control" id="level" name="level" [(ngModel)]="level"
                                placeholder="Select Level" (change)="geLevel()">
                                <option value="0">Select Level</option>
                                <option value="{{item.id}}" *ngFor="let item of levellist">
                                    {{item.short}}
                                </option>
                            </select>


                        </div> -->
                        <div class="col-lg-2">
                            <!-- <select class="form-control" id="RoleType" name="RoleType" (change)='getRoleType()'
                                [(ngModel)]="RoleType">
                                <option value="0">Select Position</option>
                                <option *ngFor="let item of RoleTypeList" value="{{item.id}}">{{item.short}}
                                </option>
                            </select> -->
                            <ng-multiselect-dropdown [placeholder]="'Select Position'" [settings]="roledropdownSettings"
                                [data]="dropdownRoleList" [(ngModel)]="roleselectedItems"
                                (onSelect)="roleonItemSelect($event)">
                            </ng-multiselect-dropdown>

                        </div>
                        <div class="col-lg-3" style="font-family: 'Poppins';">
                            <input class="form-control" type="search" [(ngModel)]="term" (ngModelChange)="Filterstaff()"
                                placeholder="Search for Staff">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1">
                            <!-- <input class="form-control" type="date" placeholder="Duration" id="date" name="date"
                                [(ngModel)]="date" (change)="getdate($event)"> -->
                        </div>
                        <!--  <div class="col-lg-3" style="font-family: 'Poppins';">
                            <input class="form-control" type="search" [(ngModel)]="term" (ngModelChange)="Filterstaff()"
                                placeholder="Search for Staff">
                        </div> -->
                        <!-- <div class="col-lg-4"></div> -->
                    </div>

                </div>
            </div>
        </div><br>
        <!-- <br> -->
        <br />

        <div class="row FilterClass">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-4">
                        <!-- <p class="show3res">SHOWING <span>{{(stafflist | filter:term).length}}
                            </span>RESULTS</p> -->
                        <div class="dashbutton bttn">
                            <div class="tab-slider--nav">
                                <ul class="tab-slider--tabs">
                                    <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1"
                                        (click)="viewMode ='tab1'">
                                        Standard Shift</li>
                                    <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2"
                                        (click)="viewMode ='tab2'">Non Standard Shift</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="butn-sadow" data-toggle="modal" data-target="#import">Upload
                            Staff</button>

                    </div>
                    <div class="col-md-2">
                        <button class="butn-sadow" routerLink="/HR/StaffBulkUploadExceptions">
                            Bulk Upload Exception </button>

                    </div>
                    <div class="col-md-2">
                        <button class="butn-sadow" type="button" (click)="exportexcel1()">Export To Excel</button>
                    </div>


                    <div class="col-md-2">
                        <button routerLink="/HR/AddressDetailsWizard" class="butn-sadow" type="button">
                            <img src="assets/Images/plus.svg" class="plus-icon">
                            Add New
                        </button>
                    </div>
                </div>

            </div>




        </div><br>

        <!--  <div class="row">
            <br />
            <div class="col-lg-8 dashbutton bttn">
                <div class="tab-slider--nav">
                    <ul class="tab-slider--tabs">
                        <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1"
                            (click)="viewMode ='tab1'">
                            Standard Shift</li>
                        <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2"
                            (click)="viewMode ='tab2'">Non Standard Shift</li>
                    </ul>
                </div>
            </div>
        </div> -->

        <!-- <div class="row">
            <div class="col-lg-12">

            </div>
        </div> -->

        <div class="row">
            <div class="tab-slider--container" [ngSwitch]="viewMode">
                <div *ngSwitchCase="'tab1'" id="tab1">
                    <div class="col-md-8">
                        <p class="show3res">SHOWING <span>{{(stafflist | filter:term)?.length}}
                            </span>RESULTS</p>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <table class="table" id="lvs"
                            *ngIf="(stafflist | filter:term |paginate: { itemsPerPage: count1, currentPage: p})?.length > 0">
                            <thead>
                                <tr>
                                    <!-- <th>Check Box</th> -->
                                    <th>Employee Id</th>
                                    <th>Employee Name</th>
                                    <th>Last Name</th>
                                    <!-- <th>Parent Subsidiary</th>
                            <th>Assigned Subsidiary</th> -->
                                    <th>Department</th>
                                    <!-- <th>Level</th> -->
                                    <th>Gender</th>
                                    <th>Position</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Date Of Joining</th>
                                    <th>Manager</th>
                                    <th *ngIf="login!=1">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of stafflist|paginate: { itemsPerPage: count1, currentPage: p}">

                                    <td>{{item.employeID}}</td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.last_Name}}</td>
                                    <!-- <td>{{item.parentCompany}}</td>
                            <td>{{item.assignedCompany}}</td> -->
                                    <td>{{item.department_name}}</td>
                                    <!-- <td>{{item.level}}</td> -->
                                    <td>{{item.gender}}</td>
                                    <td>{{item.role}}</td>
                                    <td>{{item.mobile}}</td>
                                    <td>{{item.emailID}}</td>
                                    <td>{{item.joiningDate|date}}</td>
                                    <td>
                                        <p *ngIf="item.manager==null">
                                            NA
                                        </p>
                                        <p *ngIf="item.manager!=null">
                                            {{item.manager}}
                                        </p>
                                    </td>

                                    <td *ngIf="login!=1">
                                        <i class="fa fa-pencil-square-o icon" (click)="showbttn(item)"></i>
                                        <!-- <i class="fa fa-pencil-square-o icon" [routerLink]="['/AddressDetailsWizard',item.id]"
                                    title="Edit"></i>&nbsp;&nbsp;&nbsp;&nbsp;

                                <i class="  fa fa-file icon" [routerLink]="['/Uploademployeedocumets',item.id]"
                                    title="Upload Documents"></i>&nbsp;&nbsp;&nbsp;&nbsp;

                                <i class="fa fa-trash-o icon" (click)="DeleteStaff(item)"
                                    title="Delete"></i>&nbsp;&nbsp;&nbsp;&nbsp;


                                <i class="  fa fa-folder-open icon" (click)="downloadzip(item)"
                                    title="Download Documents"></i> -->

                                        <img src="assets/Images/deactivate.png"
                                            *ngIf="item.payrollBit==0 ||item.payrollBit==null "
                                            (click)="Enable_PayrollBit(item.id)" style="width: 40px;">&nbsp;
                                        <!-- <img src="assets/Images/activate.png" *ngIf="item.payrollBit==1"
                                            (click)="Disable_PayrollBit(item.id)" style="width: 40px;"> -->

                                        <div *ngIf="showbtn && item.employeID==clikedid" class="card"
                                            style="margin-left: -128px;width: fit-content;">
                                            <button class="button" (click)="Edit()">Edit </button><br>
                                            <!-- <button class="button" (click)="Upload()">Upload </button><br> -->
                                            <!-- <button class="button" (click)="convetToPDF20()">Download </button><br> -->
                                            <button class="redbutton" (click)="DeleteStaff(item)">InActive </button>

                                            <!-- <button (click)="cretezip()"> cretezip</button> -->
                                        </div>

                                    </td>


                                </tr>


                            </tbody>
                        </table><br>
                        <span class="NoResultShow" *ngIf="(stafflist | filter: term)?.length==0">
                            Sorry, we couldn't find any results.</span><br>
                    </div>
                    <div class="text-right" *ngIf="stafflist?.length>count1">
                        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                            class="poppinns"></pagination-controls>
                    </div>
                    
                </div>
                <div *ngSwitchCase="'tab2'" id="tab2">
                    <div class="col-md-8">
                        <p class="show3res">SHOWING <span>{{(stafflist1 | filter:term)?.length}}
                            </span>RESULTS</p>
                    </div>
                    <br>
                    <div class="col-md-12">
                        <table class="table" id="lvs"
                            *ngIf="(stafflist | filter:term |paginate: { itemsPerPage: count1, currentPage: p})?.length > 0;">
                            <thead>
                                <tr>
                                    <!-- <th>Check Box</th> -->
                                    <th>Employee Id</th>
                                    <th>Employee Name</th>
                                    <!-- <th>Parent Subsidiary</th>
                            <th>Assigned Subsidiary</th> -->
                                    <th>Department</th>
                                    <!-- <th>Level</th> -->
                                    <th>Gender</th>
                                    <th>Position</th>
                                    <th>Phone Number</th>
                                    <th>Email</th>
                                    <th>Date Of Joining</th>
                                    <th>Manager</th>
                                    <th *ngIf="login!=1">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of stafflist1|paginate: { itemsPerPage: count1, currentPage: p}">

                                    <td>{{item.employeID}}</td>
                                    <td>{{item.name}}</td>
                                    <!-- <td>{{item.parentCompany}}</td>
                            <td>{{item.assignedCompany}}</td> -->
                                    <td>{{item.department_name}}</td>
                                    <!-- <td>{{item.level}}</td> -->
                                    <td>{{item.gender}}</td>
                                    <td>{{item.role}}</td>
                                    <td>{{item.mobile}}</td>
                                    <td>{{item.emailID}}</td>
                                    <td>{{item.joiningDate|date}}</td>
                                    <td>
                                        <p *ngIf="item.manager==null">
                                            NA
                                        </p>
                                        <p *ngIf="item.manager!=null">
                                            {{item.manager}}
                                        </p>
                                    </td>

                                    <td *ngIf="login!=1">
                                        <i class="fa fa-pencil-square-o icon" (click)="showbttn(item)"></i>
                                        <!-- <i class="fa fa-pencil-square-o icon" [routerLink]="['/AddressDetailsWizard',item.id]"
                                    title="Edit"></i>&nbsp;&nbsp;&nbsp;&nbsp;

                                <i class="  fa fa-file icon" [routerLink]="['/Uploademployeedocumets',item.id]"
                                    title="Upload Documents"></i>&nbsp;&nbsp;&nbsp;&nbsp;

                                <i class="fa fa-trash-o icon" (click)="DeleteStaff(item)"
                                    title="Delete"></i>&nbsp;&nbsp;&nbsp;&nbsp;


                                <i class="  fa fa-folder-open icon" (click)="downloadzip(item)"
                                    title="Download Documents"></i> -->

                                        <!-- <img src="assets/Images/deactivate.png"
                                            *ngIf="item.payrollBit==0 ||item.payrollBit==null "
                                            (click)="Enable_PayrollBit(item.id)" style="width: 40px;">&nbsp; -->
                                        <img src="assets/Images/deactivate.png" (click)="Disable_PayrollBit(item.id)"
                                            style="width: 40px;">

                                        <div *ngIf="showbtn && item.employeID==clikedid" class="card"
                                            style="margin-left: -128px;width: fit-content;">
                                            <button class="button" (click)="Edit()">Edit </button><br>
                                            <!-- <button class="button" (click)="Upload()">Upload </button><br> -->
                                            <!-- <button class="button" (click)="convetToPDF20()">Download </button><br> -->
                                            <button class="redbutton" (click)="DeleteStaff(item)">Delete </button>

                                            <!-- <button (click)="cretezip()"> cretezip</button> -->
                                        </div>
                                    </td>



                                </tr>


                            </tbody>
                        </table>
                    </div>
                  
                    <div class="text-right">
                        <pagination-controls (pageChange)="p = $event"></pagination-controls>
                    </div>
                </div>
            </div>

            <div class="col-md-1"></div>
        </div>

    </div>


</div>

<br />
<br />
<br />






<div id="import" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Upload Staff</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <input type="file" accept=".xls,.xlsx" style="display: inline-block;"
                            (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx">
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-6">
                        <button type="button" class="button" style="width: 70%;" data-dismiss="modal"
                            (click)="Upload_file()">Upload
                            Staff</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>