<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid" *ngIf="!showMobileView">
  <div class="row app-overflow">
    <div class="col-12 dynamiccss">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-4 resimg">
              <div>
                <img class="hr-img" src="assets/Images/Logo_digiOffice_Colored.png" />
              </div>
            </div>

            <div class="col-6">
              <div class="align-head">
                <!-- <span class="dash-heading" style="margin-left: -16%;">{{ pagename }}</span> -->
                <!-- <div>
                  <div class="time1">
                    <p class="time">11<span class="sem"></span></p>
                  </div>
                  <div class="times">
                    <p class="time">22<span class="sem"></span></p>
                  </div>
              </div> -->

              </div>
            </div>
          </div>
        </div>

        <div class="col-6">


          <div class="header-class">
            <div class="topheader">
              <select class="form-control" id="companyid" name="companyid" [(ngModel)]="companyid"
                (change)="getCompanyDetails($event)">
                <option value="1001">Asticom Main</option>
                <option value="1002">Asticom ABSI (ABSI)</option>
                <option value="1005">Asticom FINSI</option>
                <option value="1003">Asticom BRAD</option>
                <!-- <option value="1004" >Asticom HCX</option> -->
                <option value="1006" *ngIf="login!=9 && login!=10 && login!=1">Asticom HQ</option>
              </select>
            </div>

            <div class="noti">
              <!-- <div class="sub-card">
                <span class="notify-number">1</span>
              </div> -->
              <div ngbDropdown container="body" placement="bottom-start">
                <img src="assets/Images/revamp/bell-icon-bg.png" class="icon-alignment" id="notificationmodal"
                  ngbDropdownToggle />
                <div ngbDropdownMenu aria-labelledby="notificationmodal" class="notifimodal">
                  <div class="icon-close">
                    <div class="icon-align">
                      <img src="assets/Images/revamp/cancle-icon.png" class="close-icon-txt" ngbDropdownToggle />
                    </div>
                    <div class="notifi">
                      <p class="notifi-txt">Notifications</p>
                    </div>
                    <div class="d-flex alin-img-txt">
                      <img src="assets/Images/markasread.png" class="right-icon-img" />
                      <p class="read-txt">
                        Mark all as read
                      </p>
                    </div>

                    <div *ngFor="let item of notificationslist">
                      <div class="align-test" [ngClass]="item?.seen != null ? 'text' : 'text1'"
                        *ngIf="item?.message!=null">
                        <div class="d-flex content-set">
                          <div class="d-flex">
                            <img src="assets/Images/revamp/dot.png" class="dot" />

                            <div class="d-flex flex-column" *ngIf="item?.isRead != 0">
                              <p class="status-txt">
                                {{item?.message.length> 80 ?item?.message.substring(0,80)+"..." :item?.message}}
                              </p>
                              <p class="date-txt">
                                {{ item?.date | date }} at {{ item?.time }}
                              </p>
                            </div>
                            <div class="d-flex flex-column" *ngIf="item?.isRead == 0">
                              <p class="status-txtseen">
                                {{item?.message.length> 80 ?item?.message.substring(0,80)+"..." :item?.message}}
                              </p>
                              <p class="date-txt">
                                {{ item?.date | date }} at {{ item?.time }}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="notificationslist.length!=0" class="row" (click)="notification()">
                      <div class="col-lg-12">
                        <p class="view-txt">View all notifications</p>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <!-- <img src="assets/FigmaImg/person-01.png" (click)="logout()" class="icon-alignment1" /> -->
            </div>

            <p class="welcomename">Hi {{username}} !</p>
            <div ngbDropdown placement="bottom-end" class="d-inline-block">
              <img src="assets/FigmaImg/person-01.png" id="dropdownBasic1" ngbDropdownToggle class="icon-alignment1" />
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="logoutmodal">
                <button class="defclrchange" ngbDropdownItem (click)="profile()">
                  <img src="assets/Images/mt-pro.svg" >
                  <span class="logoutlabel"> My
                    Profile</span>
                </button>
                <button class="defclrchange" ngbDropdownItem (click)="accountsetting()"> <img src="assets/Images/setting.svg"
                    ><span class="logoutlabel">Account Settings</span> </button>
                <button class="defclrchange" ngbDropdownItem (click)="logout()"> <img src="assets/Images/exit.svg"
                    class="img-set"><span class="logoutlabel">Logout</span> </button>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="row" style="background-color: #f2f2f2">
    <div class="sidebar" [ngClass]="[!sidenav ? 'col-1 side-width' : 'col-2',showsidebar==0?'blur-background':'']"
      *ngIf="showsidebar != 0">
      <app-sidebar (activate)="onActivate($event)" (data11)="getHeaderLabel($event)"></app-sidebar>
    </div>
    <div [ngClass]="!sidenav ? 'col-11' : 'col-10'">
      <div style="
          height: 83vh;
          overflow-y: auto;
          background-color: #f2f2f2;
          overflow-x: hidden;
          padding-right: 10px;
        " *ngIf="temp1 == 0 || temp1 == undefined">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="login!=null">
    <div [ngClass]="!sidenav ? 'col-lg-12' : 'col-lg-12'" style="background: #e4ebf4">
      <app-footer (activate)="onActivate($event)"></app-footer>
    </div>
  </div>
</div>