.app-overflow {
  background-color: #f2f2f2;
  overflow-y: hidden;
  overflow-x: auto;
}

.dynamiccss {
  height: 60px;
  font-family: Poppins;
}

.resimg {
  margin: 0;
  padding: 0;
}

.align-head {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.dash-heading {
  width: 112px;
  height: 15px;
  margin-bottom: 8px;
  white-space: nowrap;
  top: 0px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: 0.5px;
  color: #1125a9;
}

.hai {
  position: absolute;
  top: 54.58%;
  bottom: 20.13%;
  width: 17px;
}

.welcomename {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  color: #1125a9 !important;
  margin-top: 5px;
  font-weight: 400;
}

.header-class {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  justify-content: space-between;
}

.header-class {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  padding: 8px;
  margin-top: 5px;
}

.header-class {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;
  margin-top: 5px;
}

.topheader{
  width: 40%;
 }

 .noti{
  display: flex;
  margin-right: 4%;
}

.icon-alignment {
  width: 42px !important;
  margin-right: 20px;
}

.icon-alignment1 {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}