<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid" *ngIf="!showMobileView">
  <div class="row app-overflow">
    <div class="col-12 dynamiccss">
      <div class="row">
        <div class="col-6">
          <div class="row">
            <div class="col-4 resimg">
              <div>
                <img class="hr-img"  src="assets/Images/Logo_digiOffice_Colored.png" />
              </div>
            </div>

            <div class="col-6">
              <div class="align-head">
                <span class="dash-heading">Dashboard</span>
                <span class="welcomename">
                  Welcome test1
                  <img class="hai" src="assets/Images/revamp/hai.png" />
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="header-class">
            <div class="topheader">
              <select class="form-control">
                <option value="">Select Subsidiary</option>
              </select>
            </div>

              <div class="noti">
                <div ngbDropdown container="body">
                  <img src="assets/Images/revamp/bell-icon-bg.png" class="icon-alignment" />
                </div>

                <img src="assets/FigmaImg/person-01.png" (click)="logout()" class="icon-alignment1" />
              </div>
          </div>
        </div>
      </div>
    </div>

  
  </div>
  <div class="row" style="background-color: #f2f2f2">
    <div class="sidebar" [ngClass]="[!sidenav ? 'col-1 side-width' : 'col-2',showsidebar==0?'blur-background':'']"
      *ngIf="showsidebar != 0">
      <app-sidebar (activate)="onActivate($event)" (data11)="getHeaderLabel($event)"></app-sidebar>
    </div>
    <div [ngClass]="!sidenav ? 'col-11' : 'col-10'">
      <div style="
          height: 83vh;
          overflow-y: auto;
          background-color: #f2f2f2;
          overflow-x: hidden;
          padding-right: 10px;
        " *ngIf="temp1 == 0 || temp1 == undefined">
        <router-outlet (activate)="onActivate($event)"></router-outlet>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="login!=null">
    <div [ngClass]="!sidenav ? 'col-lg-12' : 'col-lg-12'" style="background: #e4ebf4">
      <app-footer (activate)="onActivate($event)"></app-footer>
    </div>
  </div>
</div>
