<div id="mySidebar" class="sidebarss">
    <a (click)="dashboard()" data-toggle="collapse" *ngIf="login==6||login==2 "
        [ngClass]="active == 1 && !mini ? 'menu1' : active == 1 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 1 && !mini" class="icon" src="assets/Images/sidebaricons/home_icon_white.svg">
            <img *ngIf="active != 1" class="icon" src="assets/Images/sidebaricons/home_icon_blue.svg" />
            <img *ngIf="active == 1 && mini" class="icon" src="assets/Images/sidebaricons/home_icon_white.svg" />
            <p class="icon-text" *ngIf="!mini">Home</p>
        </div>
    </a>

    <a (click)="StaffDash()" data-toggle="collapse" *ngIf="login==9||login==11 || login==10 || login==1 "
        [ngClass]="active == 15 && !mini ? 'menu1' : active == 15 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 15 && !mini" class="icon" src="assets/Images/sidebaricons/staff_icon_white.svg" />
            <img *ngIf="active != 15" class="icon" src="assets/Images/sidebaricons/staff_icon_blue.svg" />
            <img *ngIf="active == 15 && mini" class="icon" src="assets/Images/sidebaricons/staff_icon_white.svg" />
            <p class="icon-text" *ngIf="!mini">Staff</p>
        </div>
    </a>
    <a data-toggle="collapse" data-target="#attendance"
    [ngClass]="active == 2 && !mini ? 'menu1' : active == 2 && mini ? 'menu-mini' : 'menu'">
    <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
        <img *ngIf="active == 2 && !mini" class="icon" src="assets/Images/sidebaricons/attendance_icon_white.svg" />
        <img *ngIf="active != 2" class="icon" src="assets/Images/sidebaricons/attendance_icon_blue.svg" />
        <img *ngIf="active == 2 && mini" class="icon" src="assets/Images/sidebaricons/attendance_icon_white.svg" />
        <p class="icon-text d-flex" *ngIf="!mini">Attendance</p>
    </div>
</a>

<div id="attendance" class="collapse" [ngClass]="mini ? '' : ' sub-collapse'">
    <a (click)="attendanceDetails()" class="nonactive" [ngClass]="active == 2.1 && !mini ? 'menu1' : active == 2.1 && mini ? 'menu-mini'
    : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 2.1 && !mini" class="icon"
                src="assets/Images/sidebaricons/attendance_details_icon_white.svg">
            <img *ngIf="active != 2.1" class="icon"
                src="assets/Images/sidebaricons/attendance_details_icon_blue.svg" />
            <img *ngIf="active == 2.1 && mini" class="icon"
                src="assets/Images/sidebaricons/attendance_details_icon_white.svg" />
            <p class="icon-text d-flex" *ngIf="!mini">Attendance Details</p>
        </div>
    </a>

    <a (click)="shiftDetails()" class="nonactive" [ngClass]="active == 2.2 && !mini ? 'menu1' : active == 2.2 && mini ? 'menu-mini'
    : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 2.2 && !mini" class="icon"
                src="assets/Images/sidebaricons/shift_details_icon_white.svg" />
            <img *ngIf="active != 2.2" class="icon" src="assets/Images/sidebaricons/shift_details_icon_blue.svg" />
            <img *ngIf="active == 2.2 && mini" class="icon"
                src="assets/Images/sidebaricons/shift_details_icon_white.svg" />
            <p class="icon-text d-flex" *ngIf="!mini">Shift Details</p>
        </div>
    </a>

    <a (click)="overTimeDetails()" class="nonactive" [ngClass]="active == 2.3 && !mini ? 'menu1' : active == 2.3 && mini ? 'menu-mini'
    : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 2.3 && !mini" class="icon"
                src="assets/Images/sidebaricons/overtime_details_icon_white.svg" />
            <img *ngIf="active != 2.3" class="icon"
                src="assets/Images/sidebaricons/overtime_details_icon_blue.svg" />
            <img *ngIf="active == 2.3 && mini" class="icon"
                src="assets/Images/sidebaricons/overtime_details_icon_white.svg" />
            <p class="icon-text d-flex" *ngIf="!mini">Over Time Details</p>
        </div>
    </a>

    <a (click)="attendanceCorrection()" class="nonactive" [ngClass]="active == 2.4 && !mini ? 'menu1' : active == 2.4 && mini ? 'menu-mini'
    : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 2.4 && !mini" class="icon"
                src="assets/Images/sidebaricons/attendance_correction_icon_white.svg" />
            <img *ngIf="active != 2.4" class="icon"
                src="assets/Images/sidebaricons/attendance_correction_icon_blue.svg" />
            <img *ngIf="active == 2.4 && mini" class="icon"
                src="assets/Images/sidebaricons/attendance_correction_icon_white.svg" />
            <p class="icon-text d-flex" *ngIf="!mini">Attendance Correction</p>
        </div>
    </a>
</div>

<a data-toggle="collapse" data-target="#requests"
    [ngClass]="active == 2 && !mini ? 'menu1' : active == 2 && mini ? 'menu-mini' : 'menu'">
    <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
        <img *ngIf="active == 2 && !mini" class="icon" src="assets/Images/sidebaricons/request_icon_white.svg" />
        <img *ngIf="active != 2" class="icon" src="assets/Images/sidebaricons/request_icon_blue.svg" />
        <img *ngIf="active == 2 && mini" class="icon" src="assets/Images/sidebaricons/request_icon_white.svg" />
        <p class="icon-text d-flex" *ngIf="!mini">Requests</p>
    </div>
</a>

<div id="requests" class="collapse" [ngClass]="mini ? '' : ' sub-collapse'">
    <a (click)="leaveRequest()" class="nonactive" [ngClass]="active == 3.1 && !mini ? 'menu1' : active == 3.1 && mini ? 'menu-mini'
: 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 3.1 && !mini" class="icon"
                src="assets/Images/sidebaricons/leave_request_icon_white.svg" />
            <img *ngIf="active != 3.1" class="icon" src="assets/Images/sidebaricons/leave_request_icon_blue.svg" />
            <img *ngIf="active == 3.1 && mini" class="icon"
                src="assets/Images/sidebaricons/leave_request_icon_white.svg" />
            <p class="icon-text d-flex" *ngIf="!mini">Leave Request</p>
        </div>
    </a>

    <a (click)="employeeResignation()" class="nonactive" [ngClass]="active == 3.5 && !mini ? 'menu1' : active == 3.5 && mini ? 'menu-mini'
: 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 3.5 && !mini" class="icon"
                src="assets/Images/sidebaricons/resignation_icon_white.svg" />
            <img *ngIf="active != 3.5" class="icon" src="assets/Images/sidebaricons/resignation_icon_blue.svg" />
            <img *ngIf="active == 3.5 && mini" class="icon"
                src="assets/Images/sidebaricons/resignation_icon_white.svg" />
            <p class="icon-text d-flex" *ngIf="!mini">Employee Resignation</p>
        </div>
    </a>
</div>

    <a (click)="licenceDetails()" data-toggle="collapse" *ngIf="login==11 "
        [ngClass]="active == 16 && !mini ? 'menu1' : active == 16 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 16 && !mini" class="icon"
                src="assets/Images/sidebaricons/licence_details_icon_white.svg" />
            <img *ngIf="active != 16" class="icon" src="assets/Images/sidebaricons/licence_details_icon_blue.svg" />
            <img *ngIf="active == 16 && mini" class="icon"
                src="assets/Images/sidebaricons/licence_details_icon_white.svg" />
            <p class="icon-text" *ngIf="!mini">Licence Details</p>
        </div>
    </a>

    <a (click)="inactiveStaffDetails()" data-toggle="collapse" *ngIf="login==11"
        [ngClass]="active == 17 && !mini ? 'menu1' : active == 17 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 17 && !mini" class="icon"
                src="assets/Images/sidebaricons/inactive_staff_details_icon_white.svg" />
            <img *ngIf="active != 17" class="icon"
                src="assets/Images/sidebaricons/inactive_staff_details_icon_blue.svg" />
            <img *ngIf="active == 17 && mini" class="icon"
                src="assets/Images/sidebaricons/inactive_staff_details_icon_white.svg" />
            <p class="icon-text" *ngIf="!mini">Inactive Staff Details</p>
        </div>
    </a>
    <a (click)="PayrollTrigger()" data-toggle="collapse" *ngIf="login==11||login==9 "
        [ngClass]="active == 18 && !mini ? 'menu1' : active == 18 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 18 && !mini" class="icon"
                src="assets/Images/sidebaricons/payroll_trigger_icon_white.svg" />
            <img *ngIf="active != 18" class="icon" src="assets/Images/sidebaricons/payroll_trigger_icon_blue.svg" />
            <img *ngIf="active == 18 && mini" class="icon"
                src="assets/Images/sidebaricons/payroll_trigger_icon_white.svg" />
            <p class="icon-text" *ngIf="!mini">Payroll Trigger</p>
        </div>
    </a>

    <a data-toggle="collapse" data-target="#Payroll" *ngIf="login==11 ||login==9 "
        [ngClass]="active == 19 && !mini ? 'menu1' : active == 19 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 19 && !mini" class="icon" src="assets/Images/sidebaricons/payroll_icon_white.svg" />
            <img *ngIf="active != 19" class="icon" src="assets/Images/sidebaricons/payroll_icon_blue.svg" />
            <img *ngIf="active == 19 && mini" class="icon" src="assets/Images/sidebaricons/payroll_icon_white.svg" />
            <p class="icon-text d-flex" *ngIf="!mini">Payroll</p>
        </div>
    </a>

    <div id="Payroll" class="collapse" [ngClass]="mini ? '' : ' sub-collapse'">
        <a (click)="PRELIMINARYREPORT()" class="nonactive" [ngClass]="active == 19.1 && !mini ? 'menu1' : active == 19.1 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 19.1 && !mini" class="icon"
                    src="assets/Images/sidebaricons/preliminary_report_icon_white.svg" />
                <img *ngIf="active != 19.1" class="icon"
                    src="assets/Images/sidebaricons/preliminary_report_icon_blue.svg" />
                <img *ngIf="active == 19.1 && mini" class="icon"
                    src="assets/Images/sidebaricons/preliminary_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Preliminary Report</p>
            </div>
        </a>

        <a (click)="PAYROLLREPORT()" class="nonactive" [ngClass]="active == 19.2 && !mini ? 'menu1' : active == 19.2 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 19.2 && !mini" class="icon"
                    src="assets/Images/sidebaricons/payroll_report_icon_white.svg" />
                <img *ngIf="active != 19.2" class="icon"
                    src="assets/Images/sidebaricons/payroll_report_icon_blue.svg" />
                <img *ngIf="active == 19.2 && mini" class="icon"
                    src="assets/Images/sidebaricons/payroll_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Payroll Report</p>
            </div>
        </a>

    </div>

    <a data-toggle="collapse" data-target="#CONFIGURATION" *ngIf="login==11 ||login==9 "
        [ngClass]="active == 20 && !mini ? 'menu1' : active == 20 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 20 && !mini" class="icon"
                src="assets/Images/sidebaricons/configuration_icon_white.svg" />
            <img *ngIf="active != 20" class="icon" src="assets/Images/sidebaricons/configuration_icon_blue.svg" />
            <img *ngIf="active == 20 && mini" class="icon"
                src="assets/Images/sidebaricons/configuration_icon_white.svg" />
            <p class="icon-text d-flex" *ngIf="!mini">Configuration</p>
        </div>
    </a>


    <div id="CONFIGURATION" class="collapse" [ngClass]="mini ? '' : ' sub-collapse'">
        <a (click)="leaveConfiguration()" class="nonactive" [ngClass]="active == 20.1 && !mini ? 'menu1' : active == 20.1 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 20.1 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_configuration_icon_white.svg" />
                <img *ngIf="active != 20.1" class="icon"
                    src="assets/Images/sidebaricons/leave_configuration_icon_blue.svg" />
                <img *ngIf="active == 20.1 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_configuration_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Leave Configuration</p>
            </div>
        </a>

        <a (click)="loanConfiguration()" class="nonactive" [ngClass]="active == 20.2 && !mini ? 'menu1' : active == 20.2 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 20.2 && !mini" class="icon"
                    src="assets/Images/sidebaricons/loan_configuration_icon_white.svg" />
                <img *ngIf="active != 20.2" class="icon"
                    src="assets/Images/sidebaricons/loan_configuration_icon_blue.svg" />
                <img *ngIf="active == 20.2 && mini" class="icon"
                    src="assets/Images/sidebaricons/loan_configuration_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Loan Configuration</p>
            </div>
        </a>

        <a (click)="bulkUploadMissingStaff()" class="nonactive" [ngClass]="active == 20.3 && !mini ? 'menu1' : active == 20.3 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 20.3 && !mini" class="icon"
                    src="assets/Images/sidebaricons/bulk_upload_missing_staff_icon_white.svg" />
                <img *ngIf="active != 20.3" class="icon"
                    src="assets/Images/sidebaricons/bulk_upload_missing_staff_icon_blue.svg" />
                <img *ngIf="active == 20.3 && mini" class="icon"
                    src="assets/Images/sidebaricons/bulk_upload_missing_staff_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Bulk Upload Missing Staff</p>
            </div>
        </a>

        <a (click)="UploadAttendance()" class="nonactive" [ngClass]="active == 20.4 && !mini ? 'menu1' : active == 20.4 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 20.4 && !mini" class="icon"
                    src="assets/Images/sidebaricons/upload_attendance_icon_white.svg" />
                <img *ngIf="active != 20.4" class="icon"
                    src="assets/Images/sidebaricons/upload_attendance_icon_blue.svg" />
                <img *ngIf="active == 20.4 && mini" class="icon"
                    src="assets/Images/sidebaricons/upload_attendance_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Upload Attendance</p>
            </div>
        </a>
        <a (click)="leaveUpload()" class="nonactive" [ngClass]="active == 20.5 && !mini ? 'menu1' : active == 20.5 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 20.5 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_upload_icon_white.svg" />
                <img *ngIf="active != 20.5" class="icon" src="assets/Images/sidebaricons/leave_upload_icon_blue.svg" />
                <img *ngIf="active == 20.5 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_upload_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Leave Upload</p>
            </div>
        </a>
    </div>



    <a (click)="holidays()" data-toggle="collapse" data-target="#home"
        [ngClass]="active == 5 && !mini ? 'menu1' : active == 5 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 5 && !mini" class="icon" src="assets/Images/sidebaricons/holiday_icon_white.svg" />
            <img *ngIf="active != 5" class="icon" src="assets/Images/sidebaricons/holiday_icon_blue.svg" />
            <img *ngIf="active == 5 && mini" class="icon" src="assets/Images/sidebaricons/holiday_icon_white.svg" />
            <p class="icon-text" *ngIf="!mini">Holidays</p>
        </div>
    </a>

    <a (click)="announcements()" data-toggle="collapse" data-target="#home"
        [ngClass]="active == 6 && !mini ? 'menu1' : active == 6 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 6 && !mini" class="icon"
                src="assets/Images/sidebaricons/announcement_icon_white.svg" />
            <img *ngIf="active != 6" class="icon" src="assets/Images/sidebaricons/announcement_icon_blue.svg" />
            <img *ngIf="active == 6 && mini" class="icon"
                src="assets/Images/sidebaricons/announcement_icon_white.svg" />
            <p class="icon-text" *ngIf="!mini">Announcements</p>
        </div>
    </a>

    <a data-toggle="collapse" data-target="#reports"
        [ngClass]="active == 7 && !mini ? 'menu1' : active == 7 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 7 && !mini" class="icon" src="assets/Images/sidebaricons/reports_icon_white.svg" />
            <img *ngIf="active != 7" class="icon" src="assets/Images/sidebaricons/reports_icon_blue.svg" />
            <img *ngIf="active == 7 && mini" class="icon" src="assets/Images/sidebaricons/reports_icon_white.svg" />
            <p class="icon-text d-flex" *ngIf="!mini">Reports</p>
        </div>
    </a>

    <div id="reports" class="collapse" [ngClass]="mini ? '' : ' sub-collapse'">
        <a (click)="attendanceReport()" class="nonactive" [ngClass]="active == 7.1 && !mini ? 'menu1' : active == 7.1 && mini ? 'menu-mini'
: 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 7.1 && !mini" class="icon"
                    src="assets/Images/sidebaricons/attendance_report_icon_white.svg" />
                <img *ngIf="active != 7.1" class="icon"
                    src="assets/Images/sidebaricons/attendance_report_icon_blue.svg" />
                <img *ngIf="active == 7.1 && mini" class="icon"
                    src="assets/Images/sidebaricons/attendance_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Attendance Report</p>
            </div>
        </a>

        <a (click)="attendanceCorrectionReport()" class="nonactive" [ngClass]="active == 7.2 && !mini ? 'menu1' : active == 7.2 && mini ? 'menu-mini'
: 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 7.2 && !mini" class="icon"
                    src="assets/Images/sidebaricons/attendance_correction_report_vector_white.svg" />
                <img *ngIf="active != 7.2" class="icon"
                    src="assets/Images/sidebaricons/attendance_correction_report_vector_blue.svg" />
                <img *ngIf="active == 7.2 && mini" class="icon"
                    src="assets/Images/sidebaricons/attendance_correction_report_vector_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Attendance Correction Report</p>
            </div>
        </a>

        <a (click)="leaveReport()" class="nonactive" [ngClass]="active == 7.3 && !mini ? 'menu1' : active == 7.3 && mini ? 'menu-mini'
: 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 7.3 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <img *ngIf="active != 7.3" class="icon" src="assets/Images/sidebaricons/leave_report_icon_blue.svg" />
                <img *ngIf="active == 7.3 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Leave Report</p>
            </div>
        </a>
    </div>

    <a data-toggle="collapse" data-target="#Masters"
        [ngClass]="active == 10 && !mini ? 'menu1' : active == 10 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 10 && !mini" class="icon" src="assets/Images/sidebaricons/reports_icon_white.svg" />
            <img *ngIf="active != 10" class="icon" src="assets/Images/sidebaricons/reports_icon_blue.svg" />
            <img *ngIf="active == 10 && mini" class="icon" src="assets/Images/sidebaricons/reports_icon_white.svg" />
            <p class="icon-text d-flex" *ngIf="!mini">Masters</p>
        </div>
    </a>

    <div id="Masters" class="collapse" [ngClass]="mini ? '' : ' sub-collapse'">
        <a (click)="LeaveType()" class="nonactive" [ngClass]="active == 10.1 && !mini ? 'menu1' : active == 10.1 && mini ? 'menu-mini'
: 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 10.1 && !mini" class="icon"
                    src="assets/Images/sidebaricons/attendance_report_icon_white.svg" />
                <img *ngIf="active != 10.1" class="icon"
                    src="assets/Images/sidebaricons/attendance_report_icon_blue.svg" />
                <img *ngIf="active == 10.1 && mini" class="icon"
                    src="assets/Images/sidebaricons/attendance_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Leave Type</p>
            </div>
        </a>

        <a (click)="LoanType()" class="nonactive" [ngClass]="active == 10.2 && !mini ? 'menu1' : active == 10.2 && mini ? 'menu-mini'
: 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 10.2 && !mini" class="icon"
                    src="assets/Images/sidebaricons/attendance_correction_report_vector_white.svg" />
                <img *ngIf="active != 10.2" class="icon"
                    src="assets/Images/sidebaricons/attendance_correction_report_vector_blue.svg" />
                <img *ngIf="active == 10.2 && mini" class="icon"
                    src="assets/Images/sidebaricons/attendance_correction_report_vector_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Loan Type</p>
            </div>
        </a>

        <a (click)="ShiftMaster()" class="nonactive" [ngClass]="active == 10.3 && !mini ? 'menu1' : active == 10.3 && mini ? 'menu-mini'
: 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 10.3 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <img *ngIf="active != 10.3" class="icon" src="assets/Images/sidebaricons/leave_report_icon_blue.svg" />
                <img *ngIf="active == 10.3 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Shift Master</p>
            </div>
        </a>
        <a (click)="CountryMaster()" class="nonactive" [ngClass]="active == 10.4 && !mini ? 'menu1' : active == 10.4 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 10.4 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <img *ngIf="active != 10.4" class="icon" src="assets/Images/sidebaricons/leave_report_icon_blue.svg" />
                <img *ngIf="active == 10.4 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Country Master</p>
            </div>
        </a>

        <a (click)="ProvinceMaster()" class="nonactive" [ngClass]="active == 10.5 && !mini ? 'menu1' : active == 10.5 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 10.5 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <img *ngIf="active != 10.5" class="icon" src="assets/Images/sidebaricons/leave_report_icon_blue.svg" />
                <img *ngIf="active == 10.5 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Province Master</p>
            </div>
        </a>

        <a (click)="CityMaster()" class="nonactive" [ngClass]="active == 10.6 && !mini ? 'menu1' : active == 10.6 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 10.6 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <img *ngIf="active != 10.6" class="icon" src="assets/Images/sidebaricons/leave_report_icon_blue.svg" />
                <img *ngIf="active == 10.6 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">City Master</p>
            </div>
        </a>
        <a (click)="BarangayMaster()" class="nonactive" [ngClass]="active == 10.7 && !mini ? 'menu1' : active == 10.7 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 10.7 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <img *ngIf="active != 10.7" class="icon" src="assets/Images/sidebaricons/leave_report_icon_blue.svg" />
                <img *ngIf="active == 10.7 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Barangay Master</p>
            </div>
        </a>

        <a (click)="DepartmentMaster()" class="nonactive" [ngClass]="active == 10.8 && !mini ? 'menu1' : active == 10.8 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 10.8 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <img *ngIf="active != 10.8" class="icon" src="assets/Images/sidebaricons/leave_report_icon_blue.svg" />
                <img *ngIf="active == 10.8 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Department Master</p>
            </div>
        </a>
        <a (click)="OTMaster()" class="nonactive" [ngClass]="active == 10.9 && !mini ? 'menu1' : active == 10.9 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 10.9 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <img *ngIf="active != 10.9" class="icon" src="assets/Images/sidebaricons/leave_report_icon_blue.svg" />
                <img *ngIf="active == 10.9 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">OT Master</p>
            </div>
        </a>

        <a (click)="PositionMaster()" class="nonactive" [ngClass]="active == 10.10 && !mini ? 'menu1' : active == 10.10 && mini ? 'menu-mini'
        : 'menu'">
            <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
                <img *ngIf="active == 10.10 && !mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <img *ngIf="active != 10.10" class="icon" src="assets/Images/sidebaricons/leave_report_icon_blue.svg" />
                <img *ngIf="active == 10.10 && mini" class="icon"
                    src="assets/Images/sidebaricons/leave_report_icon_white.svg" />
                <p class="icon-text d-flex" *ngIf="!mini">Position Master</p>
            </div>
        </a>

        

    </div>

    <a (click)="employeeCertification()" data-toggle="collapse" data-target="#home"
        [ngClass]="active == 8 && !mini ? 'menu1' : active == 8 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 8 && !mini" class="icon"
                src="assets/Images/sidebaricons/employee_certification_icon_white.svg" />
            <img *ngIf="active != 8" class="icon"
                src="assets/Images/sidebaricons/employee_certification_icon_blue.svg" />
            <img *ngIf="active == 8 && mini" class="icon"
                src="assets/Images/sidebaricons/employee_certification_icon_white.svg" />
            <p class="icon-text" *ngIf="!mini">Employee Certification</p>
        </div>
    </a>

    <a (click)="payslip()" data-toggle="collapse" data-target="#home"
        [ngClass]="active == 21 && !mini ? 'menu1' : active == 21 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 21 && !mini" class="icon" src="assets/Images/sidebaricons/payslip_icon_white.svg" />
            <img *ngIf="active != 21" class="icon" src="assets/Images/sidebaricons/payslip_icon_blue.svg" />
            <img *ngIf="active == 21 && mini" class="icon" src="assets/Images/sidebaricons/payslip_icon_white.svg" />
            <p class="icon-text" *ngIf="!mini">Payslip</p>
        </div>
    </a>

    <a (click)="help()" data-toggle="collapse" data-target="#home"
        [ngClass]="active == 9 && !mini ? 'menu1' : active == 9 && mini ? 'menu-mini' : 'menu'">
        <div class="test_case" [ngClass]="mini?'justify-content-center': ''">
            <img *ngIf="active == 9 && !mini" class="icon" src="assets/Images/sidebaricons/help_icon_white.svg" />
            <img *ngIf="active != 9" class="icon" src="assets/Images/sidebaricons/help_icon_blue.svg" />
            <img *ngIf="active == 9 && mini" class="icon" src="assets/Images/sidebaricons/help_icon_white.svg" />
            <p class="icon-text" *ngIf="!mini">Help</p>
        </div>
    </a>
</div>

<!-- <br /><br /><br />
<div *ngIf="!mini">
    <img class="icon" src="assets/Images/revamp/siderbar-icon.png" class="sidebar-image" />
    <br />
    <p class="icon-text1">
        Can’t find what you
        <br />
        are looking for?
    </p>
</div> -->

<!-- <div *ngIf="!mini">
    <div *ngIf="sidenav != true">
        <a>
            <button class="icon-text2">
                Raise Ticket
            </button>
        </a>
    </div>
</div> -->