ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

.card1 {
    padding: 100px;
    background: #ffffff;
    box-shadow: 1px 1px 15px 3px rgb(0 0 0 / 12%);
    border-radius: 12px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card10 {
    padding: 100px !important;
    background: #ffffff;
    border-radius: 12px;
    width: 100%;
    height: auto;
}

h6,
h5 {
  color: #3247d5;
  text-align: center;
  width: 200px;
  font-weight: 900}