ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

@media (min-width: 1920px) and (max-width: 2560px) {
  .butn-sadow {
    position: relative;
    width: 145px;
    left: 300px
  }
}

.butn-sadow{
  position: relative;
  width: 145px;
  left: 390px;
}