<div class="container-fluid" [ngClass]="loader?'blur-background':''"> <br>
    <div class="row">
        <div class="col-3 col-lg-3 col-sm-3 p-1">
            <div class="card-one applydeatils pl-2 pr-2">
                <div class="card-content">
                    <p class="card-head-one">Announcements</p>

                    <img src="assets/Images/revamp/Annoucenment-white-img.png" *ngIf="annnounecemnetlist==0"
                        class="annou-img" />

                    <p *ngIf="annnounecemnetlist==0" class="anno-text">No announcements <br> for
                        today </p>

                    <ngb-carousel #carousel [interval]="0" [showNavigationArrows]="false" class="carus">

                        <ng-template ngbSlide *ngFor="let item of annnounecemnetlist">
                            <div>
                                <img src="{{item.attachment}}" class="img-annouc" (click)="getannouncement(item)"
                                    data-toggle="modal" data-target="#Announcement" />
                            </div>

                            <p class="fest-name">{{ item?.name }}</p>
                            <p class="fest-name">{{ item?.dateTime }}</p>

                        </ng-template>
                    </ngb-carousel>

                    <div class="w-100 d-flex justify-content-end">
                        <a (click)="announcement()" class="view-text1">View
                            All</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-3 col-lg-3 col-sm-3 p-1">
            <div class="card-one applydeatils">
                <p class="card-head" style="padding: 7px !important;">Leave Details</p>
                <p class="card-day">{{pendingcount1}}</p>
                <div class="w-100 d-flex justify-content-center align-items-center mt-4" style="margin-left: 20px;">
                    <img src="assets/Images/revamp/icon.png" class="img-icon" />
                    <p class="card-paragraph1 p-0">Pending Leave</p>
                </div>
                <div class="align-atten-head pt-4">
                    <button class="card-attendance">
                        <p class="text-attendance" (click)="AddLeave()">Apply Leave</p>
                    </button>
                </div>
                <div class="w-100 d-flex justify-content-end">
                    <a class="view-text text-right" (click)="applyleave()"
                        style="color: #1125a9 !important; font-weight: 600;">View Leave</a>
                </div>
            </div>
        </div>

        <div class=" col-6 col-lg-6 col-sm-6 p-1">
            <div class="holiday">
                <p class="holidayimgtxt">Holidays</p>
                <div class="row " *ngIf="holidaylist?.length==0">
                    <img src="assets/FigmaImg/noholiday.svg" class="img-holi noholiday" />
                    <h4 class="noholidaytext">No holiday has yet set</h4>
                    <p class="seeall chnageseeAll" (click)="holiday()"
                        style="color: #1125a9 !important; font-weight: 600;margin-right: 13px;">View All</p>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <div *ngIf="holidaylist?.length!=0">
                            <div class="d-flex flex-column">
                                <img class="tphoimg" src="{{tpholidayattachment}}">
                                <div class="d-flex flex-column align-holiday-txt">
                                    <p class="holidayname">
                                        {{topholidayname.length > 20 ? topholidayname.substring(0,20)+"..." :
                                        topholidayname }}
                                    </p>
                                    <p class="holidaydate"> {{topholidaydate|date}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row hol-others">
                            <div class="holi-atc">
                                <div class=" list-holidays" *ngFor="let holiday of dispyList">
                                    <div class="col-lg-3">
                                        <img src="{{holiday?.attachment}}" class="holidaylistattachment">
                                    </div>
                                    <div class="holidaylistcol">
                                        <h6 class="attac-text">
                                            {{ holiday?.holiday.length > 20 ? holiday?.holiday.substring(0,20)+"..." :
                                            holiday?.holiday }}</h6>
                                        <h6 class="attac-day">{{holiday?.holidayDate|date}}</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <p class="seeall chnageseeAll" (click)="holiday()"
                                    style="color: #1125a9 !important; font-weight: 600;">View All</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-3 col-sm-3 p-1 pb-2">
            <div class="card-one applydeatils">
                <p class="card-head" style="padding: 0px !important;">Overtime Details</p>
                <p class="card-day">{{pendingotcount}}</p>
                <div class="w-100 d-flex justify-content-center align-items-center">
                    <img src="assets/Images/revamp/icon.png" class="img-icon" />
                    <p class="card-paragraph">
                        You have {{pendingotcount}} Pending Pre-Approval OT
                    </p>
                </div>

                <div class="align-atten-head mt-2">
                    <button class="card-attendance">
                        <p class="text-attendance" (click)="ApplyOT()">Overtime Details</p>
                    </button>
                </div>

                <!-- <div class="row">
                    <p class="seeall chnageseeAll" (click)="overtimeDash()"
                        style="color: #1125a9 !important; font-weight: 600;">View OT</p>
                </div> -->
            </div>
        </div>
        <div class="col-lg-9 col-9 col-sm-9 p-1 pb-2">
            <div class="second-card">
                <p class="card-head-one" style="padding: 11px;">Complete your Profile</p>
                <div class="inside-card" style="    margin-left: 31px;
                width: 92%; ">
                    <div class="d-flex">
                        <img src="assets/Images/revamp/Profile Completion Illustration 2.png" class="img-top" />
                        <div class="d-flex flex-column justify-content-center">
                            <!-- <p class="para">Complete your profile</p> -->
                            <p class="small-para">
                                <!-- Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
                                vulputate libero et velit interdum, ac aliquet odio mattis. -->
                                Keep your basic information up to date. You can add, edit, or
                                remove information or submit a request through Personal Info Update.
                            </p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="butt-n" *ngIf="profilepercentage==0" (click)="Profilecompletion()">Get
                            Started</button>
                    </div>
                </div>
                <div class="row">
                    <!-- <progress class="process" *ngIf="profilepercentage!=0" value="{{profilepercentage}}"
                        max="100">profilepercentage%</progress> -->

                    <div class="row process">
                        <div class="col-lg-2" [ngClass]="profiletab==1||contact==2  ? 'darkg' : 'bgred'"></div>
                        <div class="col-lg-2" [ngClass]="dependent==3  ? 'lightg' : 'bgred'"></div>
                        <div class="col-lg-2" [ngClass]="emplhist==4  ? 'darkg' : 'bgred'"></div>
                        <div class="col-lg-2" [ngClass]="edu==5  ? 'lightg' : 'bgred'"></div>
                        <div class="col-lg-2" [ngClass]="nomi==6  ? 'darkg' : 'bgred'"></div>
                        <div class="col-lg-2" [ngClass]="bankID>6  ? 'lightg' : 'bgred'"></div>

                    </div>
                </div>

                <div class="w-100 d-flex justify-content-between update">
                    <!-- <p class="content">Update your information</p> -->
                    <P class="content1 mt-2" *ngIf="profilepercentage1!=0" (click)="Profilecompletion()">
                        {{profilepercentage1}} Steps to complete</P>
                    <P class="content1" *ngIf="profilepercentage1==0" (click)="Profilecompletion()">
                        Completed</P>
                </div>


            </div>
        </div>
    </div>


    <div class="row" style="padding: 0px 0px 0px 5px;">


        <div class="second-card11 d-flex">
            <div class="col-lg-3 col-3">
                <img src="assets/Images/revamp/my-team-request-green-icon-manger.png" class="Myteam-icon">
                <h2 class="myteam-heading">My Team Requests</h2>
            </div>
            <div class="col-lg-9 col-9 d-flex align-items-center justify-content-center">

                <div class="card-one1-1">
                    <p class="card-head leave-head">Leave Request</p>

                    <p class="card-day">{{pendingcountforsupervisor}}</p>

                    <div class="w-100 d-flex justify-content-center align-items-center mt-4 mb-4">
                        <img src="assets/Images/revamp/icon.png" class="img-icon" />
                        <p class="card-paragraph">
                            <!-- You have {{approvedcountforsupervisor}} Leave status this month -->
                            Pending Leave Request for Approval.
                        </p>
                    </div>

                    <div class=" align-atten-head">
                        <button class="card-attendance">
                            <p class="text-attendance" (click)="teamleave()">View Leave Request</p>
                        </button>
                    </div>

                </div>
                <div class="card-one1-1">
                    <p class="card-head leave-head">Overtime Request</p>

                    <p class="card-day">{{pendingotcount}}</p>


                    <div class="w-100 d-flex justify-content-center align-items-center mt-4 mb-4">
                        <img src="assets/Images/revamp/icon.png" class="img-icon" />
                        <p class="card-paragraph">
                            Pending OT Request for Approval.
                            <!-- You have {{pendingotcount}} Overtime status this month -->
                        </p>
                    </div>

                    <div class=" align-atten-head">
                        <button class="card-attendance">
                            <p class="text-attendance" (click)="ApplyOT()">View OT Request</p>
                        </button>
                    </div>

                </div>

                <div class="card-one1-1" *ngIf="companyid!=1002 && companyid!=1001">
                    <p class="card-head leave-head">Loan Request</p>

                    <p class="card-day">{{newrquestloancount}}</p>

                    <div class="w-100 d-flex justify-content-center align-items-center mt-4 mb-4">
                        <img src="assets/Images/revamp/icon.png" class="img-icon" />
                        <p class="card-paragraph">
                            Pending Loan Request for Approval.
                            <!-- You have {{newrquestloancount}} Loan status this month -->
                        </p>
                    </div>

                    <div class=" align-atten-head">
                        <button class="card-attendance">
                            <p class="text-attendance" (click)="ApplyLoan()">View Loan Request</p>
                        </button>
                    </div>
                </div>

                <div class="card-one1-1" *ngIf="companyid==1002 || companyid==1001">
                    <p class="card-head leave-head">Loan Request</p>
                    <p class="card-day"></p>
                    <div class="w-100 d-flex justify-content-center align-items-center mt-4 mb-4">
                        <img src="assets/Images/revamp/icon.png" style="margin-top: 15px; margin-left: 40px;"
                            class="img-icon" />
                        <p class="card-paragraph">
                            No Pending Requests
                        </p>
                    </div>
                    <div class="align-atten-head mt-2">
                        <button class="card-attendance" style="background: #80808045;
                        margin-top: 8px;">
                            <p class="text-attendance" style="color: #80808045;">View Loan Request</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" [ngClass]="loader?'blur-background':''" style="position:relative;top:-10px;left:-11px">
    <app-manager-graph-dash></app-manager-graph-dash>
</div>