/* .bg {
    background-image: url("assets/bg_login_blue.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
} */
/* .loginbtn {
  width: 100px;
  height: 30px;
  border: none;
  background-color: #6ca3d8;
  color: white;
  border-radius: 5px;
} */

.starspan {
  color: red;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

/* .bg {
      background-image: url("assets/bg_login_blue.jpg");
      background-repeat: no-repeat;
      width: 100%;
      height: 100vh;
  } */
/* .loginbtn {
  height: 50px;
  width: 240px;
  left: 0px;
  top: 0px;
  border-radius: 5px;
  background: #1125a9;
  color: #FFFFFF;
  border: none;
} */

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: grid;
  right: 0;
  background-color: #c8d8e4;
  align-content: stretch;
  align-items: stretch;
  justify-items: stretch;
}

.field-icon {
  position: relative;
  bottom: 7%;
  /* text-align: revert; */
  left: 35%;
}

.inndercard {
  position: absolute;
  /* width: 520px;
    height: 599px; */

  width: 200px;
  height: 78vh;
  background: #FFFFFF;
  border-top-left-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 15px;
}



.inputclass1 {
  color: #1125a9;
  font: 'Poppins';
}

.btnalign {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  align-content: center;
  flex-direction: row;
  align-items: center;
  left: -9px;
  flex-wrap: nowrap;
}

.butn-sadow1 {
  margin-left: 230px !important;
}



.imgdiv {
  height: 599px;
  width: 390px;
  margin-left: 20%;
  position: absolute;
  left: 484px;
}

.maindiv {
  display: flex;
  align-content: center;
  align-items: stretch;
  margin-top: 6%;
  margin-left: 5%;
  position: fixed;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
}

.toggle-password {
  margin: 0px;
}

.companycode {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */
  color: #1125a9;
}

input:focus~.floating-label,
input:not(:focus):valid~.floating-label {
  top: 8px;
  bottom: 10px;
  left: 20px;
  font-size: 11px;
  opacity: 1;
}

.inputText {
  font-size: 14px;
  width: 200px;
  height: 35px;
}

.floating-label {
  position: absolute;
  pointer-events: none;
  left: 20px;
  top: 18px;
  transition: 0.2s ease all;
}


.defalutplace {
  position: relative;
  top: 5px;
}

input:focus~.defalutplace {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  top: 0px;
  line-height: 15px;
  color: #1125a9;
}

.enter-your-name {

  /* margin: 10px 0px 0px 0px; */

  padding: 20px 10px 10px 25px;

  border-radius: 50px;

  border: solid 1px #dae7ec;

  background-color: #ffffff;

  outline: none;

  width: 100%;

  font-size: 14px;

  /* height: 75px; */

  height: 50px;

}

.input-group {
  position: relative;
  /* margin-left: 143px; */

}



.input-group input:focus {

  font-size: 14px;

  outline: #999;

  padding: 20px 10px 10px 25px;

  box-shadow: 0 0 16px 0 #d4dbdd;

}



.input-group input:valid {

  font-size: 14px;

  outline: #999;

  padding: 30px 10px 10px 25px;

}



.input-group input:focus~label {

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height, or 125% */


  color: #1125a9;
  top: 5px;

}

.input-group label {

  color: #000000;

  font-size: 14px;
  font-family: 'Poppins';

  font-weight: normal;

  position: absolute;

  pointer-events: none;

  left: 26px;

  top: 5px;

  transition: 0.2s ease all;

  -moz-transition: 0.2s ease all;

}

.image {
  width: 40%;
  margin-bottom: 5%;
}

.password {
  color: #1125a9;
  margin-left: -224px;
  margin-top: 18px;
}

.forgotpassword {
  color: #1125a9;
}

.secure {
  position: absolute;
  width: 290px;
  height: 40px;
  left: 68px;
  top: 81px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #fafafa;
}

.easy {
  position: absolute;
  width: 290px;
  height: 40px;
  left: 69px;
  top: 127px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 40px;
  letter-spacing: 0.5px;
  color: #fafafa;
}

.smart {
  position: absolute;
  width: 300px;
  height: 40px;
  left: 69px;
  top: 181px;
  font-family: 'Poppins';
  letter-spacing: 0.5px;
  color: hwb(0 98% 2%);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 13px;
}

.copy-right {
  position: absolute;
  width: 317px;
  height: 16px;
  left: 115px;
  top: 441px;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #0C275A;
}



.forg-ps {
  /* color: #1125a9 !important; */
  color: #3247d5;
  /* width: 4vh; */
  /* white-space: pre; */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 15px;
}

.digi-logo {
  width: 46%;
  /* margin-bottom: 20px; */
}

.imgview {
  margin-left: -35px;
  margin-top: -15px;
  pointer-events: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
}

.paswordview {
  margin-left: -35px;
  margin-top: -15px;
}

.rightside-img {
  width: 482px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.butn-sadow {
  position: relative !important;
  /* box-sizing: border-box;
  position: absolute;
  width: 166px;
  height: 40px;
  left: 30px;
  border-radius: 5px;
  font-family: 'Poppins';
  font-style: normal;
  letter-spacing: 0.658333px;
  color: #ffffff;
  background: #1125a9;
  box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
  border-radius: 5px solid #1125a9;
  border: 5px solid #1125a9;
  text-transform: uppercase; */

  text-shadow: initial;
  letter-spacing: 0.5px;
  color: #ffffff;
  border-radius: 5px;
  /*  border: none; */
  padding: 3px;
  float: right;
  /* margin-right: 15px; */
  font-size: 12px;
  width: 166px;
  /*  font-weight: bold; */
  /* background: #1125a9; */
  background-color: #1125a9;
  border-radius: 5px solid #1125a9;
  border: 5px solid #1125a9;
  /* box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
  border-radius: 5px solid #1125a9;
  border: 5px solid #1125a9; */

}



/* Mamata Added */

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.loginmainimage {
  width: 250px;
}




@media (min-width: 1920px) and (max-width: 2560px) {

  /* .inndercard {
    position: absolute;
  

    width: 520px;
    height: 67vh;
    background: #FFFFFF;
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-bottom-left-radius: 15px;
  } */
  .loginmainimage {
    width: 518px;
  }


}

@media (min-width: 1280px) and (max-width: 1900px) {
  /* .inndercard {
    position: relative;
    width: 483px;
    height: 78vh;
    background: #FFFFFF;
    border-top-left-radius: 15px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 15px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
  } */

  .loginmainimage {
    height: 78vh;
    width: 85%;
  }

  .imgdiv {
    height: 599px;
    width: 390px;
    margin-left: 20%;
    position: absolute;
    left: 387px;
  }

  /* .maindiv{
    display: flex;
    align-content: center;
    align-items: stretch;
    margin-top: 5%;
    margin-left: 8%;
    position: fixed;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
} */

  .inputclass {
    height: 46px;
    width: 100%;
    left: 290px;
    top: 316px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid #C7C7C7;
    outline: none;
    font: 'Poppins';
  }

}

.loginBox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* width: 75%; */
}

.inputFieldBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  padding: 20px;
  width: 450px;
  height: 85%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}



.imageBlock {
  height: 85%;
  /* width: 300px; */


  /* background-image: url('../../../assets/Images/loginpageCompressed.jpg'); */
}

.logo {
  height: 100%;
  /* width: 100%; */
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.container-fluid {
  height: 100vh;
  overflow-y: auto;
  overflow-x: auto;
  padding: auto;
}

.loginBtn {
  font-size: 12px;
  width: 166px;
  background-color: #3247d5;
  border-radius: 5px solid #3247d5;
  border: 5px solid #3247d5;
  padding: 3px;
  float: right;
  color: white;
  border-radius: 5px;
  font-weight: 500;
}


@media(max-width:600px) {
  .inputFieldBox {
    width: 100%;
  }

  .imageBlock {
    display: none;
  }

  .container-fluid {
    overflow-x: hidden;
  }
}
.blur-background{
  filter: blur(10px);
}

@media (min-width: 1280px) and (max-width: 1900px) {

  .digi-logo {
    width: 46%;
    margin-bottom: 4%;
  }
}

.text-center {
  text-align: center !important;
  font-size: 11px;
  top: 40px;
  color: #0C275A;
}

select {
  height: 46px !important;
}
