<app-loader *ngIf="loader"></app-loader>
<app-commonalertpage [messageId]="messageId"  *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid  fullscreen">
    <div class="row ">
        <div class="col-lg-12 d-flex justify-content-center">
            <div class="loginBox d-flex justify-content-center">
                <div class="inputFieldBox">
                    <img src="assets/Images/Logo_digiOffice_Colored.png" class="digi-logo"><br>
                    <div class="input-group ">
                        <select class="inputclass padp-20" (change)="getCompanyDetails($event)">
                            <option selected>Select Subsidiary</option>
                            <option value="1001">Asticom Main</option>
                            <option value="1002">Asticom ABSI (ABSI)</option>
                            <option value="1005">Asticom FINSI</option>
                            <option value="1003">Asticom BRAD</option>
                            <option value="1006">Asticom HQ</option>
                        </select>
                        <img class="imgview" src="assets/Images/dropdown.svg">
                    </div>

                    <div class="input-group ">
                        <select class="inputclass padp-20" (change)="getroleid($event)">
                            <option selected>Select Login Type</option>
                            <option value="6">Employee</option>
                            <option value="2">Manager</option>
                            <option value="9">HR Admin</option>
                            <option value="11">Super Admin</option>
                            <option value="10">Payroll Admin</option>
                            <option value="1">Level 1 Support</option>
                        </select>
                        <img class="imgview" src="assets/Images/dropdown.svg">
                    </div>

                    <div class="input-group ">
                        <input type="text" class="inputclass" [(ngModel)]="username" name="username">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="placeholder">Username</label>
                    </div>

                    <div class="input-group ">
                        <input *ngIf="showpassword==0" type="password" class="inputclass" [(ngModel)]="password"
                            name="password" />
                        <input *ngIf="showpassword==1" type="text" class="inputclass" [(ngModel)]="password"
                            name="password" />
                        <img class="paswordview" (click)="Showhidepassword()" src="assets/Images/view.svg">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="placeholder">Password</label>
                    </div>
                    <br>

                    <div class="d-flex flex-column w-100">
                        <div class="d-flex justify-content-between align-item-center">
                            <div>
                                <a class="forg-ps" target="_blank">Forgot Password</a>
                            </div>
                            <button type="button" class="loginBtn" (click)="login()">Log In</button>
                        </div>
                    </div><br><br>

                    <div class="d-flex  align-item-center">
                        <p class="text-center"><b>Copyright © 2023 AMAZE ONE. All Rights Reserved</b></p>
                    </div>
                </div>

                <div class="imageBlock">
                    <img src="assets/Images/Mask Group.png" class="logo">
                </div>
            </div>
        </div>
    </div>
</div>
