/* .bg {
    background-image: url("assets/bg_login_blue.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
} */
.loginbtn {
    background: #3247D5;
    color: #FFFFFF;
    border: none;
    position: relative;
    box-shadow: 1px 1px 17px 1px rgb(50 71 213 / 60%);
    font-size: 12px;
    width: 166px;
    padding: 10px;
    float: right;
    border-radius: 5px;
    font-weight: 500;
  }
  
  .starspan {
    color: red;
  }
  
  .empsss {
    margin-left: 238px;
    color: red;
    font-size: 15px;
  }
  
  .empsss1 {
  
    color: red;
    font-size: 15px;
  }
  
  .passok {
    margin-left: 238px;
    color: green;
    font-size: 15px;
  }
  
  .passok1 {
  
    color: green;
    font-size: 15px;
  }
  
  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    position: relative;
    z-index: 2;
  }
  
  /* .bg {
        background-image: url("assets/bg_login_blue.jpg");
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    } */
  /* .loginbtn {
    height: 50px;
    width: 240px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    background: #3247D5;
    color: #FFFFFF;
    border: none;
  } */
  .container-fluid{
    height: 110vh !important;
    overflow-y: auto !important;
    overflow-x: scroll !important;
  }
  .fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* overflow: auto; */
    /* background-image: url("../../assets/images/office.1.png"); */
    ;
    background-color: #95A0E2;
    /* height: 110vh !important;
    overflow-y: auto !important;
    overflow-x: scroll !important;
  } */
  }
  
  .logo {
    width: 80%;
    /* margin-bottom: 20px; */
  }
  
  
  @media (min-width: 1280px) and (max-width: 1900px) {
  
    .digi-logo {
      width: 46%;
      margin-bottom: 4%;
    }
  }
  
  .field-icon {
    position: relative;
    bottom: 7%;
    /* text-align: revert; */
    left: 35%;
  }
  
  .inndercard {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    padding: 20px;
    width: 450px;
    height: 85%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .inputclass {
    height: 46px;
    width: 100%;
    left: 290px;
    top: 316px;
    border-radius: 5px;
    margin-bottom: 15px;
    border: 2px solid #C7C7C7;
    outline: none;
    Font: 'Poppins';
  }
  
  .inputclass1 {
  
    color: #3247D5;
    Font: 'Poppins';
  
  
  }
  
  .btnalign {
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
    width: 76%;
    align-items: center;
  }
  
  .imgdiv {
    position: absolute;
    left: calc(50% - 408px/2 + 275px);
    top: 101px;
  }
  
  .maindiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .toggle-password {
    margin: 0px;
  }
  
  .companycode {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
    color: #3247D5;
  }
  
  input:focus~.floating-label,
  input:not(:focus):valid~.floating-label {
    top: 8px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
  }
  
  .inputText {
    font-size: 14px;
    width: 200px;
    height: 35px;
  }
  
  .floating-label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
  }
  
  
  .defalutplace {
    position: relative;
    top: 5px;
  }
  
  input:focus~.defalutplace {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    top: 0px;
    line-height: 15px;
    color: #3247D5;
  
  }
  
  .enter-your-name {
  
    /* margin: 10px 0px 0px 0px; */
  
    padding: 20px 10px 10px 25px;
  
    border-radius: 50px;
  
    border: solid 1px #dae7ec;
  
    background-color: #ffffff;
  
    outline: none;
  
    width: 100%;
  
    font-size: 14px;
  
    /* height: 75px; */
  
    height: 50px;
  
  }
  
  .input-group {
    position: relative;
    /* margin-left: 143px; */
  
  }
  
  
  
  .input-group input:focus {
  
    font-size: 14px;
  
    outline: #999;
  
    padding: 20px 10px 10px 25px;
  
    box-shadow: 0 0 16px 0 #d4dbdd;
  
  }
  
  
  
  .input-group input:valid {
  
    font-size: 14px;
  
    outline: #999;
  
    padding: 20px 10px 10px 25px;
  
  }
  
  
  
  .input-group input:focus~label {
  
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    /* identical to box height, or 125% */
  
    color: #3247D5;
    top: 5px;
  
  }
  
  .input-group label {
  
    color: #000000;
  
    font-size: 14px;
    font-family: 'Poppins';
  
    font-weight: normal;
  
    position: absolute;
  
    pointer-events: none;
  
    left: 26px;
  
    top: 5px;
  
    transition: 0.2s ease all;
  
    -moz-transition: 0.2s ease all;
  
  }
  
  
  
  .image {
    width: 40%;
    margin-bottom: 5%;
  }
  
  .password {
    color: #3247D5;
    margin-left: -224px;
    margin-top: 18px;
  }
  
  .forgotpassword {
    color: #3247D5;
  }
  
  .forget {
    position: relative;
    width: 119px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    color: #3247D5 !important;
  }
  
  .copy-right {
    text-align: center !important;
    font-size: 11px;
    color: #0C275A;
  }
  .logo {
    height: 100%;
    /* width: 100%; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .imageBlock {
    height: 85%;
    width: 350px;
  
  
    /* background-image: url('../../../assets/Images/loginpageCompressed.jpg'); */
  }
  .secure {
    position: absolute;
    width: 290px;
    height: 40px;
    left: 68px;
    top: 81px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 40px;
    letter-spacing: 0.5px;
    color: #fafafa;
  }
  
  .easy {
    position: absolute;
    width: 290px;
    height: 40px;
    left: 69px;
    top: 127px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 40px;
    letter-spacing: 0.5px;
    color: #fafafa;
  }
  
  .smart {
    position: absolute;
    width: 300px;
    height: 40px;
    left: 69px;
    top: 181px;
    font-family: 'Poppins';
    letter-spacing: 0.5px;
    color: hwb(0 98% 2%);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 13px;
  }
  
  .imgview {
    margin-left: -35px;
    margin-top: -15px;
    pointer-events:none;
  
  }
  
  select {
    -webkit-appearance: none;
    appearance: none;
  }
  .paswordview{
    margin-left: -35px;
    margin-top: -15px;
  }