<app-loader *ngIf="loader"></app-loader>
<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul>
                <!-- *ngIf="otEligibility==1" -->
                <li><a class="Heading" routerLink="/Employee/OverTimeDetailsDash">
                        <p class="Heading">My Overtime Details</p>
                    </a>
                </li>

                <li *ngIf="roleid==2"><a class="Heading">
                        <p class="Heading">Team Overtime Details</p>
                    </a>
                    <hr class="line-border listForm">
                </li>

                <li *ngIf="roleid==1||roleid==9||roleid==11||roleid==10"><a class="Heading">
                        <p class="Heading">Team Overtime Details</p>
                    </a>
                    <hr class="line-border listForm">
                </li>
            </ul>

        </div>
    </div>
    <div class="card">
        <div class="d-flex flex-wrap">
            <div class="d-flex align-items-center">
                <img src="assets/Images/revamp/filter.svg" class="filter-img">
                <p class="filter">Filter by:</p>
            </div>

            <div class="cardinputs">
                <input type="bsdate" placeholder="mm/dd/yyyy-mm/dd/yyyy" class="form-control" bsDaterangepicker
                    [(ngModel)]="fulldate" [bsConfig]="{ showWeekNumbers:false }" (ngModelChange)="getEndDate($event)">
            </div>

            <div class="cardinputs">
                <input type="text" placeholder="Search" id="term" [(ngModel)]="term" class="form-control search-icon">
            </div>

            <div class="cardinputs">
                <button class="butn-sadow" type="button" (click)="exportexcel1()">Export to Excel</button>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-12 dashbutton bttn">
            <div class="tab-slider--nav">
                <ul class="tab-slider--tabs">
                    <li class="tab-slider--trigger" [class.active]="viewMode == 'tab1'" rel="tab1"
                        (click)="viewMode ='tab1'">
                        Pending</li>
                    <li class="tab-slider--trigger" [class.active]="viewMode == 'tab2'" rel="tab2"
                        (click)="viewMode ='tab2'">
                        Approved</li>
                    <li class="tab-slider--trigger" [class.active]="viewMode == 'tab3'" rel="tab3"
                        (click)="viewMode ='tab3'">
                        Rejected</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="tab-slider--container" [ngSwitch]="viewMode">
        <div *ngSwitchCase="'tab1'" id="tab1">
            <div class="row">
                <div class="col-md-10">
                    <p class="show3res">SHOWING <span>{{(timedetails1|filter:term)?.length}} </span>RESULT(S)
                    </p>
                </div>
            </div>

            <div class="listscroll">
                <table class="table">
                    <thead>
                        <tr class="head">
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Date</th>
                            <th>Submit Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>OT Details</th>
                            <th>Attachment</th>
                            <th>Comments</th>
                            <th>Status</th>
                            <th *ngIf="roleid==2 || roleid!=1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of timedetails1|filter:term">
                            <td>{{data.employeID}}</td>
                            <td>{{data.staffname}}</td>
                            <td>{{data.date|date}}</td>
                            <td>{{data.submitdate|date}}</td>
                            <td>{{data.startTime|date:'HH:mm'}}</td>
                            <td>{{data.endTime|date:'HH:mm'}}</td>
                            <td>
                                <button class="edit-btn" (click)="GetOTDetails(data)" data-toggle="modal"
                                    data-target="#otdetailsmodal">Details
                                </button>
                            </td>
                            <td>
                                <img src="assets/Images/image.png" style="width:20px; height:20px"
                                    (click)="image(data.id)" data-toggle="modal" data-target="#exampleModal1">
                            </td>
                            <td>{{data.comments}}</td>
                            <td>{{data.status}}</td>
                            <td class="actionpadding" *ngIf="roleid==2  || roleid!=1">
                                <img class="dashedit-icon" src="assets/Images/accept-01.svg"
                                    (click)="ManagerOTApprove(data)" [ngbTooltip]="tipContentApprove"
                                    tooltipClass="my-custom-class"
                                    *ngIf="data.status=='Manager Pending HR Pending'|| data.status==null || data.status=='Manager Pending'">

                                <img class="dashedit-icon" src="assets/Images/cancel-02.svg"
                                    (click)="ManagerOTReject(data)" [ngbTooltip]="tipContentReject"
                                    tooltipClass="my-custom-class" *ngIf="data.status=='Manager Pending HR Pending'||
                                    data.status==null || data.status=='Manager Pending'">

                                <div class="col-lg-2 Text p-0">
                                    <ng-template #tipContentApprove>
                                        <div>
                                            <div class="d-flex">
                                                <div class="flex-column mt-2">
                                                    <p class="tooltip-txtForIcons">Approve</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <div class="col-lg-2 Text p-0">
                                    <ng-template #tipContentReject>
                                        <div>
                                            <div class="d-flex">
                                                <div class="flex-column mt-2">
                                                    <p class="tooltip-txtForIcons">Reject</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- <span class="NoResultShow" *ngIf="(uniquedropdownDeptList).length==0">
                    <b>Sorry, we couldn't find any results.</b></span>   <br> -->
            </div>
            <!-- <div class="text-right" *ngIf="(uniquedropdownDeptList).length>count1">
                <br>
                <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                    class="poppinns"></pagination-controls>
            </div> -->
        </div>

        <div *ngSwitchCase="'tab2'" id="tab2">
            <div class="row">
                <div class="col-md-10">
                    <p class="show3res">SHOWING <span>{{(timedetails2|filter:term)?.length}} </span>RESULT(S)
                    </p>
                </div>
            </div>

            <div class="listscroll">
                <table class="table">
                    <thead>
                        <tr class="head">
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Date</th>
                            <th>Submit Date</th>
                            <th>Approved Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>OT Details</th>
                            <th>Attachment</th>
                            <th>Comments</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of timedetails2|filter:term">
                            <td>{{data.employeID}}</td>
                            <td>{{data.staffname}}</td>
                            <td>{{data.date|date}}</td>
                            <td>{{data.submitdate|date}}</td>
                            <td>{{data.approvedDate|date}}</td>
                            <td>{{data.startTime|date:'HH:mm'}}</td>
                            <td>{{data.endTime|date:'HH:mm'}}</td>
                            <td>
                                <button class="edit-btn" (click)="GetOTDetails(data)" data-toggle="modal"
                                    data-target="#otdetailsmodal">Details
                                </button>
                            </td>
                            <td>
                                <img src="assets/Images/image.png" style="width:20px; height:20px"
                                    (click)="image(data.id)" data-toggle="modal" data-target="#exampleModal1">
                            <td>{{data.comments}}</td>
                            <td>{{data.status}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <span class="NoResultShow" *ngIf="(uniquedropdownDeptList).length==0">
                    <b>Sorry, we couldn't find any results.</b></span>   <br> -->
            </div>
            <!-- <div class="text-right" *ngIf="(uniquedropdownDeptList).length>count1">
                <br>
                <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                    class="poppinns"></pagination-controls>
            </div> -->
        </div>

        <div *ngSwitchCase="'tab3'" id="tab3">
            <div class="row">
                <div class="col-md-10">
                    <p class="show3res">SHOWING <span>{{(timedetails3|filter:term)?.length}} </span>RESULT(S)
                    </p>
                </div>
            </div>

            <div class="listscroll">
                <table class="table">
                    <thead>
                        <tr class="head">
                            <th>Employee ID</th>
                            <th>Employee Name</th>
                            <th>Date</th>
                            <th>Submit Date</th>
                            <th>Rejected Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>OT Details</th>
                            <th>Attachment</th>
                            <th>Comments</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of timedetails3|filter:term">
                            <td>{{data.employeID}}</td>
                            <td>{{data.staffname}}</td>
                            <td>{{data.date|date}}</td>
                            <td>{{data.submitdate|date}}</td>
                            <td>{{data.approvedDate|date}}</td>
                            <td>{{data.startTime|date:'HH:mm'}}</td>
                            <td>{{data.endTime|date:'HH:mm'}}</td>
                            <td>
                                <button class="edit-btn" (click)="GetOTDetails(data)" data-toggle="modal"
                                    data-target="#otdetailsmodal">Details
                                </button>
                            </td>
                            <td>
                                <img src="assets/Images/image.png" style="width:20px; height:20px"
                                    (click)="image(data.id)" data-toggle="modal" data-target="#exampleModal1">
                            </td>
                            <td>{{data.comments}}</td>
                            <td>{{data.status}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- <span class="NoResultShow" *ngIf="(uniquedropdownDeptList).length==0">
                    <b>Sorry, we couldn't find any results.</b></span>   <br> -->
            </div>
            <!-- <div class="text-right" *ngIf="(uniquedropdownDeptList).length>count1">
                <br>
                <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                    class="poppinns"></pagination-controls>
            </div> -->
        </div>
    </div>
</div>

<div class="modal fade" id="otdetailsmodal" tabindex="-1" role="dialog" aria-labelledby="CheckListStatusform" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">OT Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>OT Type</th>
                        <th>No of Hours</th>
                        <!-- <th></th> -->
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>Normal OT </td>
                        <td>{{noofhours}}</td>
                    </tr>
                    <tr>
                        <td>Night OT </td>
                        <td>{{nightOT}}</td>
                    </tr>
                    <!-- <tr>
                        <td> Restday OT </td>
                        <td> {{restNormalOT}}</td>
                    </tr> -->

                    <tr>

                        <td> Excess Night OT </td>
                        <td> {{ExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Excess Normal OT </td>
                        <td> {{ExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Rest Night OT </td>
                        <td> {{RestNightOt}}</td>
                    </tr>
                    <tr>
                        <td>Rest Normal OT </td>
                        <td>{{RestNormalOT}}</td>
                    </tr>
                    <tr>
                        <td> Excess Rest Normal OT </td>
                        <td> {{ExccessRestNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Rest Excess Night OT </td>
                        <td> {{RestExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Night OT </td>
                        <td> {{LegalNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Normal OT </td>
                        <td> {{LegalNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Normal OT </td>
                        <td> {{LegalExccessNormalOt}}</td>
                    </tr>
                    <tr>
                        <td>Legal Excess Night OT </td>
                        <td>{{LegalExccessNightOt}}</td>
                    </tr>
                    <tr>
                        <td> Special Night OT </td>
                        <td> {{SpecialNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Normal OT </td>
                        <td> {{SpecialNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Special Excess Normal OT </td>
                        <td> {{SpecialExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Excess Night OT </td>
                        <td> {{SpecialExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Rest Night OT </td>
                        <td> {{SpecialRestNightOt}}</td>
                    </tr>
                    <tr>
                        <td>Special Rest Normal OT </td>
                        <td>{{SpecialRestNormalOT}}</td>
                    </tr>
                    <tr>
                        <td> Special Rest Excess Normal OT </td>
                        <td> {{SpecialRestExccessNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Special Rest Excess Night OT </td>
                        <td> {{SpecialRestExccessNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Rest Night OT </td>
                        <td> {{LegalRestNightOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Rest Normal OT </td>
                        <td> {{LegalRestNormalOT}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Rest Normal OT </td>
                        <td> {{LegalExccessRestNormalOt}}</td>
                    </tr>
                    <tr>

                        <td> Legal Excess Rest Night OT </td>
                        <td> {{LegalExccessRestNightOt}}</td>
                    </tr>
                    <tr>

                        <td> NSD Regular </td>
                        <td> {{NSD_REGULAR}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Related Attachments</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-4" *ngFor="let details of multipleattachmentlist">
                        <div class="row">
                            <div class="col-lg-10">
                                <img src="{{details.attachment}}" *ngIf="details.filetype=='Image'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">
                                <img src="assets/Images/pdf.png" *ngIf="details.filetype=='Pdf'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">
                                <img src="assets/Images/word.png" *ngIf="details.filetype=='Document'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">
                                <img src="assets/Images/files.png" *ngIf="details.filetype=='Ppt'"
                                    (click)="openAttchments(details.attachment)" style="width: 171px; height: 117px;">
                                <p *ngIf="details.attachment==null">No Attachment</p>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
            </div>
            <div class="modal-footer">
                <button type="button" class="cancel" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>