<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul style="margin-left: 2%;">
                <li><a class="Heading">
                        <p class="Heading">Leave Type Dashboard</p>
                    </a>
                    <hr class="line-border listForm">
                </li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="d-flex flex-wrap">
            <div class="d-flex align-items-center">
                <img src="assets/Images/revamp/filter.svg" class="filter-img">
                <p class="filter">Filter by:</p>
            </div>

            <div class="cardinputs">
                <input type="text" placeholder="Search" id="term" [(ngModel)]="term" class="form-control search-icon"
                    (ngModelChange)="FilterLeave()">
            </div>

            <div class="cardinputs">
                <button class="butn-sadow" (click)="Addleave()"> <img src="assets/Images/plus.svg" class="plus-icon">Add
                    Leave</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <p class="show3res">SHOWING <span>{{(leavelist | filter: term)?.length}} </span>RESULT(S)</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="container-fluid">
                <div class="listscroll">
                    <table class="table text">
                        <thead class="head">
                            <tr>
                                <th>Leave Type</th>
                                <th>Description</th>
                                <th [width]="200">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let holiday of leavelist|filter:term |paginate: { itemsPerPage: count1, currentPage: p}">
                                <td class="tdtext">{{holiday.short}}</td>
                                <td class="tdtext">{{holiday.description}}</td>
                                <td style="display: flex;">
                                    <img class="dashedit-icon" (click)="Edit(holiday.id)" title="Edit"
                                        src="assets/Images/Edit.svg">
                                    <img class="dashedit-icon" title="Delete" src="assets/Images/delete.svg">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="NoResultShow" *ngIf="(leavelist | filter: term).length==0">
                        <b>Sorry, we couldn't find any results.</b></span> <br>
                </div>
            </div>
        </div>
    </div>

    <div class="text-right" *ngIf="(leavelist | filter: term).length>count1">
        <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel="" class="poppinns">
        </pagination-controls>
    </div>
</div>