<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<app-loader *ngIf="loader"></app-loader>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <P class="Heading1">City Details</P>
            <div class="card">
                <div class="row leavereq">
                    <div class="col-md-2">
                        <label>Country<span class="span">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>Province<span class="span">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>City <span class="span">*</span></label>
                    </div>
                    <div class="col-md-2">
                        <label>City Description<span class="span">*</span></label>
                    </div>
                </div>
                <div class="row leavereq">
                    <div class="col-md-2">
                        <div class="dropdown">
                            <select class="form-control inputfield" id="CountryID" name="CountryID"
                                [(ngModel)]="CountryID" (click)="GetStateType1($event)">
                                <option value="">Select Country </option>
                                <option *ngFor="let role of leavelist1" value="{{role.id}}">{{role.short}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="dropdown">
                            <select class="form-control inputfield" id="StateID" name="StateID" [(ngModel)]="StateID">
                                <option value="">Select Province </option>
                                <option *ngFor="let role of stateList" value="{{role.id}}">{{role.short}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="Leave Type Name" placeholder="City"
                            [(ngModel)]="Short" name="Short" id="Short">
                    </div>
                    <div class="col-md-4">
                        <textarea type="text" rows="4" class="form-control" placeholder="Leave Description"
                            placeholder="Description" [(ngModel)]="Description" name="Description"
                            id="Description"></textarea>
                    </div>
                </div>
                <br>

                <div class="row">
                    <div class="d-flex justify-content-end w-100 mt-2 mb-2 pr-2">
                        <button class="close-button" (click)="Cancel()">Cancel</button>
                        <button class="submit-button" *ngIf="ID!=undefined" (click)="UpdateCityType()">Save Changes</button>
                        <button class="submit-button" *ngIf="ID==undefined" (click)="InsertCityType()">Submit</button>
                    </div>
                    <!-- <div class="col-lg-8"></div>
                    <div class="col-lg-3">
                        <button class="clo-btn" routerLink="/Admin/CityMasterDash">Cancel</button>
                    </div>
                    <div class="col-lg-1">
                        <button type="button" class="Addbutton" *ngIf="ID!=undefined"
                            (click)="UpdateCityType()">Update</button>
                        <button class="Addbutton" *ngIf="ID==undefined" (click)="InsertCityType()">Submit</button>
                    </div> -->
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
