<app-loader *ngIf="loader"></app-loader>
<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul>
                <li *ngIf="roleID!=11"><a class="Heading" routerLink="/Employee/ShiftDetailsDash">
                        <p class="Heading">My Shift Details</p>
                    </a>
                    <hr class="line-border listForm">
                </li>

                <li *ngIf="roleID==2"><a class="tabHeading" routerLink="/Manager/MyTeamWeeklyShift">
                        <p class="tabHeading">Team Shift Details</p>
                    </a></li>

                <li *ngIf="roleID==1||roleID==9||roleID==11||roleID==10"><a class="tabHeading"
                        routerLink="/Manager/MyTeamWeeklyShift">
                        <p class="tabHeading">Company Weekly Shift</p>
                    </a></li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="d-flex flex-wrap">
            <div class="d-flex align-items-center">
                <img src="assets/Images/revamp/filter.svg" class="filter-img">
                <p class="filter">Filter by:</p>
            </div>

            <div class="cardinputs">
                <input type="bsdate" placeholder="mm/dd/yyyy-mm/dd/yyyy" class="form-control" bsDaterangepicker
                    [(ngModel)]="date" [bsConfig]="{ showWeekNumbers:false }" (ngModelChange)="getEndDate($event)">
            </div>

            <div class="cardinputs" (click)="showDialog()">
                <button class="butn-sadow"> <img src="assets/Images/plus.svg" class="plus-icon">Add Shift</button>
            </div>

            <div class="cardinputs">
                <button class="butn-sadow" type="button" (click)="reset()">Reset</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <p class="show3res">SHOWING <span>{{(shiftList|filter:search)?.length}} </span>RESULT(S)</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="listscroll">
                <table class="table">
                    <thead>
                        <tr class="head">
                            <th>Staff ID</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Submit Date</th>
                            <th>Approved Date</th>
                            <th>Shift Name</th>
                            <th>Rest Days</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of shiftList|filter:search|paginate: { itemsPerPage: count1, currentPage: p}">
                            <td>{{data.employeID}}</td>
                            <td>{{data.shiftDate|date}}</td>
                            <td>{{data.endDate|date}}</td>
                            <td>{{data.startTime}}</td>
                            <td>{{data.endTime}}</td>
                            <td>{{data.modifieddate|date}}</td>
                            <td>{{data.approveddate|date}}</td>
                            <td>{{data.shiftName}}</td>
                            <td>{{data.restdays}}</td>
                            <td>
                                <p *ngIf="data.approve==0||data.approve==null">Pending</p>
                                <p *ngIf="data.approve==1">Approved</p>
                                <p *ngIf="data.approve==2">Rejected</p>
                            </td>
                            <td class="onelinetext"> <img class="dashedit-icon" (click)="edit(data.id)"
                                    src="assets/Images/Edit.svg" [ngbTooltip]="tipContenteidt"
                                    tooltipClass="my-custom-class" *ngIf="roleID==6 && data.approve==null">
                                <img class="dashedit-icon" (click)="openDeletePopUp(data.id)"
                                    src="assets/Images/delete.svg" [ngbTooltip]="tipContentCancel"
                                    tooltipClass="my-custom-class" *ngIf="data.approve==0">
                                <div class="col-lg-2 Text p-0">
                                    <ng-template #tipContentCancel>
                                        <div>
                                            <div class="d-flex">
                                                <div class="flex-column mt-2">
                                                    <p class="tooltip-txtForIcons">Delete</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template #tipContenteidt>
                                        <div>
                                            <div class="d-flex">
                                                <div class="flex-column mt-2">
                                                    <p class="tooltip-txtForIcons">Edit</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="NoResultShow" *ngIf="(shiftList|filter:search).length==0">
                    <b>Sorry, we couldn't find any results.</b></span> <br>
            </div>
            <div class="text-right" *ngIf="(shiftList|filter:search).length>count1">
                <br>
                <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                    class="poppinns"></pagination-controls>
            </div>
        </div>
    </div>
</div>