<app-loader *ngIf="loader"></app-loader>
<app-commonalertpage [messageId]="messageId" *ngIf="showPopup==1"></app-commonalertpage>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ul>
                <li *ngIf="roleID!=11"><a class="Heading" routerLink="/Employee/ShiftDetailsDash">
                        <p class="Heading">My Shift Details</p>
                    </a>
                </li>

                <li *ngIf="roleID==2"><a class="tabHeading">
                        <p class="tabHeading">Team Shift Details</p>
                        <hr class="tab-line-border listForm">
                    </a></li>

                <li *ngIf="roleID==1||roleID==9||roleID==10"><a class="tabHeading">
                        <p class="tabHeading">Company Weekly Shift</p>
                        <hr class="tab-line-border listForm">
                    </a></li>

                    <li *ngIf="roleID==11"><a class="tabHeading11">
                        <p class="tabHeading11">Company Weekly Shift</p>
                        <hr class="tab-line-border11 listForm">
                    </a></li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="d-flex flex-wrap">
            <div class="d-flex justify-content-end filterby" style="margin-top: 3%;">
                <img src="assets/Images/revamp/filter.svg" class="filter-img">
                <p class="filter">Filter by:</p>
            </div>

            <div class="d-flex justify-content-start flex-wrap inputs">
                <div class="cardinputs">
                    <p class="leavereq">Select Dates
                        <input type="bsdate" placeholder="mm/dd/yyyy-mm/dd/yyyy" class="form-control" bsDaterangepicker
                            [(ngModel)]="date" [bsConfig]="{ showWeekNumbers:false }"
                            (ngModelChange)="getEndDate($event)">
                    </p>
                </div>

                <div class="cardinputs">
                    <input type="text" placeholder="Search" id="term" [(ngModel)]="search"
                        class="form-control search-icon">
                </div>

                <div class="cardinputs" (click)="showDialog()">
                    <button class="butn-sadow"> <img src="assets/Images/plus.svg" class="plus-icon">Add Shift</button>
                </div>

                <div class="cardinputs">
                    <button class="butn-sadow" type="button" (click)="reset()">Reset</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">
            <p class="show3res">SHOWING <span>{{(shiftList|filter:search)?.length}} </span>RESULT(S)</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="listscroll">
                <table class="table">
                    <thead>
                        <tr class="head">
                            <th>Staff ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Submit Date</th>
                            <th>Approved Date</th>
                            <th>Shift Name</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Rest Days</th>
                            <th *ngIf="roleID!=1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let data of shiftList|filter:search|paginate: { itemsPerPage: count1, currentPage: p }">
                            <td>{{data.employeID}}</td>
                            <td>{{data.name}}</td>
                            <td>{{data.last_Name}}</td>
                            <td>{{data.shiftDate|date}}</td>
                            <td>{{data.endDate|date}}</td>
                            <td>{{data.modifieddate|date}}</td>
                            <td>{{data.approveddate|date}}</td>
                            <td>{{data.shiftName}}</td>
                            <td>{{data.startTime}}</td>
                            <td>{{data.endTime}}</td>
                            <td>{{data.restdays}}</td>
                            <td *ngIf="roleID!=1">
                                <p *ngIf="roleID==2 && data.approve==0">
                                    <img class="dashedit-icon" src="assets/Images/accept-01.svg"
                                        (click)="ApproveTimeSheet(data)" [ngbTooltip]="tipContentApprove"
                                        tooltipClass="my-custom-class">

                                    <img class="dashedit-icon" src="assets/Images/cancel-02.svg"
                                        (click)="getid(data.id)" data-toggle="modal" data-target="#Reject"
                                        [ngbTooltip]="tipContentReject" tooltipClass="my-custom-class">
                                </p>
                                <div class="col-lg-2 Text p-0">
                                    <ng-template #tipContentApprove>
                                        <div>
                                            <div class="d-flex">
                                                <div class="flex-column mt-2">
                                                    <p class="tooltip-txtForIcons">Approve</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>

                                <div class="col-lg-2 Text p-0">
                                    <ng-template #tipContentReject>
                                        <div>
                                            <div class="d-flex">
                                                <div class="flex-column mt-2">
                                                    <p class="tooltip-txtForIcons">Reject</p>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-template>
                                </div>
                                <p *ngIf="data.approve==0||data.approve==null">Pending</p>
                                <p *ngIf="data.approve==1">Approved</p>
                                <p *ngIf="data.approve==2">Rejected</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <span class="NoResultShow" *ngIf="(shiftList|filter:search).length==0">
                    <b>Sorry, we couldn't find any results.</b></span> <br>
            </div>
            <div class="text-right" *ngIf="(shiftList|filter:search).length>count1">
                <br>
                <pagination-controls (pageChange)="p = $event" previousLabel="" nextLabel=""
                    class="poppinns"></pagination-controls>
            </div>
        </div>
    </div>
</div>

<div id="Reject" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">
            <div class="modal-header">
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Reject Notes</h5>
                    </div>
                </div>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body ">
                <div class="container-fluid">
                    <div class="row notes">
                        <div class="col-lg-3">
                            Notes
                        </div>

                        <div class="col-lg-7">
                            <textarea rows="3" type="text" [(ngModel)]="notes" id="Notes" name="Notes"
                                class="form-control" placeholder="Notes"></textarea>
                        </div>
                    </div>
                    <br />

                    <div class="row centeralign">
                        <div class="col-lg-4"></div>

                        <div class="col-lg-5">
                            <button class="upload" (click)="rejectShiftDetails()">Submit</button>
                        </div>
                    </div>
                    <br />
                </div>

                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>